@model edutico.Models.Login

@{
    Layout = "_Layout";
    ViewData["Title"] = "Login";
}

<section class="my-3">
    <div class="containerLogin container inicial position-relative">
        <div class="row">
            <!-- Formulário de Login -->
            <div class="col-lg-6">
                <div class="p-3">
                    <div class="TxtBemVindo">
                        <p class="fs-4">Seja Bem-Vindo(a) de volta,</p>
                    </div>
                    <div class="facalogin">
                        <p class="fs-4">faça seu Login!</p>
                    </div>
                    <div class="hr">
                        <hr />
                    </div>

                    <!-- Mensagem de erro -->
                    @if (ViewData["msg"] != null)
                    {
                        <p class="alert alert-danger">@Html.Raw(ViewData["msg"])</p>
                    }

                    <!-- FORM LOGIN -->
                    <div class="areaLogin">
                        <form method="post" class="needs-validation" novalidate>
                            <div class="form-group mb-3">
                                <label for="username" class="form-label">Usuário</label>
                                <input asp-for="usuario" type="text" id="username" name="usuario" class="form-control" placeholder="Digite aqui seu usuário ou seu email" required>
                            </div>
                            <div class="form-group mb-3">
                                <label for="password" class="form-label">Senha</label>
                                <input asp-for="senha" type="password" id="password" name="senha" class="form-control" placeholder="Digite aqui sua senha" required>
                            </div>
                            <div class="form-group d-flex justify-content-end">
                                <a href="#" class="forgot-password">Esqueci a senha</a>
                            </div>

                            <div class="d-flex justify-content-between">
                                <button type="submit" asp-controller="Login" asp-action="Login" class="btn Entrar-btn">Entrar</button>
                                <button type="submit" asp-controller="Home" asp-action="CadastroCliente" class="btn Criar-btn">Criar conta</button>
                            </div>
                        </form>
                    </div>
                </div>

            </div>

        </div>

    </div>
</section>

<!-- Imagem Mae e Filho -->
<div class="position-relative">
    <div class="position-absolute bottom-0 end-0">
        <div class="col-lg-12 d-flex justify-content-end">
            <img src="~/imgs/img_mae_filho.png" alt="Menino Feliz" class="imgMaeFilho">
        </div>
    </div>
</div>




