@{
    Layout = "_MenuPerfil";
    ViewData["Title"] = "Acompanhar Pedido";
}

<section class="ms-4">
    <a href="#" class="Voltar">Voltar</a>
    <div class="justify-content-between align-items-center d-flex">
        <p class="titulo_perfil">PEDIDOS</p>
        <div class="filtro">
            <label for="option" style="font-family: 'Glacial Bold'; padding-inline:10px">Ordenar por</label>
            <select id="ordecao">
                <option value="todos"> Todos </option>
            </select>
        </div>
    </div>
    <!--modelo quando pendente-->
    <div class="sumario-pedido glacial-bold">
        <!--cabeçalho com status e número de pedido-->
        <div class="cabeca-sum">
            <p>Nº pedido 123456-77654</p>
            <p>Status:  <span style="color:#1C3FB9">Pendente</span></p>

        </div>
        <hr />
        <div class="d-flex align-items-center ">
            <!--aqui fica os produtos em miniatura (imagem e nome)-->
            <div class="d-flex">
                <div class="miniprod">
                    <img src="~/imgs/montamonta.jpg" id="imgped" />
                    <p>Monta-Monta, 6 pçs...</p>
                </div>
                <div class="miniprod">
                    <img src="~/imgs/montamonta.jpg" id="imgped" />
                    <p>Monta-Monta, 6 pçs...</p>
                </div>
                <div class="miniprod">
                    <img src="~/imgs/montamonta.jpg" id="imgped" />
                    <p>Monta-Monta, 6 pçs...</p>
                </div>
                <div class="miniprod">
                    <img src="~/imgs/montamonta.jpg" id="imgped" />
                    <p>Monta-Monta, 6 pçs...</p>
                </div>
                <!--botão para encaminhar a detalhes pedido-->
            </div>
            <div class="ops-btn">
                <buttom class="btndeta-ped">Detalhes</buttom>
            </div>

        </div>
    </div>
    <!--modelo quando andamento-->
    <div class="sumario-pedido glacial-bold">
        <!--cabeçalho-->
        <div class="cabeca-sum">
            <p>Nº pedido 123456-77654</p>
            <p>Status:  <span style="color:#D9AF19">Andamento</span></p>
            <p>Entrega: previsto para o dia 26/07/2024</p>
        </div>
        <hr />
        <div class="d-flex align-items-center ">
            <div class=" d-flex">
                <!--miniatura dos produtos-->
                <div class="miniprod">
                    <img src="~/imgs/montamonta.jpg" id="imgped" />
                    <p>Monta-Monta, 6 pçs...</p>
                </div>
                <div class="miniprod">
                    <img src="~/imgs/montamonta.jpg" id="imgped" />
                    <p>Monta-Monta, 6 pçs...</p>
                </div>
                <div class="miniprod">
                    <img src="~/imgs/montamonta.jpg" id="imgped" />
                    <p>Monta-Monta, 6 pçs...</p>
                </div>
                <div class="miniprod">
                    <img src="~/imgs/montamonta.jpg" id="imgped" />
                    <p>Monta-Monta, 6 pçs...</p>
                </div>
            </div>
            <!--botões para acesso do usuario-->
            <div class="ops-btn">
                <buttom class="btndeta-ped">Detalhes</buttom>
                <buttom class="btnrastreio">Rastrear</buttom>
                <buttom class="btncancelarped">Cancelar</buttom>
            </div>
        </div>

    </div>
    <!--modelo quando cancelado-->
    <div class="sumario-pedido glacial-bold">
        <!--cabeçalho do pedido-->
        <div class="cabeca-sum">
            <p>Nº pedido 123456-77654</p>
            <p>Status:  <span style="color:red">Cancelado</span></p>

        </div>
        <hr />
        <div class="d-flex align-items-center ">
            <!--produtos em miniatura (só os quatros primeiros)-->
            <div class="d-flex">
                <div class="miniprod">
                    <img src="~/imgs/montamonta.jpg" id="imgped" />
                    <p>Monta-Monta, 6 pçs...</p>
                </div>
                <div class="miniprod">
                    <img src="~/imgs/montamonta.jpg" id="imgped" />
                    <p>Monta-Monta, 6 pçs...</p>
                </div>
                <div class="miniprod">
                    <img src="~/imgs/montamonta.jpg" id="imgped" />
                    <p>Monta-Monta, 6 pçs...</p>
                </div>
                <div class="miniprod">
                    <img src="~/imgs/montamonta.jpg" id="imgped" />
                    <p>Monta-Monta, 6 pçs...</p>
                </div>

            </div>
            <div class="ops-btn">
                <buttom class="btndeta-ped">Detalhes</buttom>
            </div>

        </div>
    </div>
    <!--modelo quando concluido-->
    <div class="sumario-pedido glacial-bold">
        <!--cabeçalho-->
        <div class="cabeca-sum">
            <p>Nº pedido 123456-77654</p>
            <p>Status:  <span style="color:#77C000">Concluído</span></p>
            <p>Devolução: até o dia 03/08/2024</p>
        </div>
        <hr />

        <div class="d-flex align-items-center ">
            <!--miniatura produtos-->
            <div class=" d-flex">
                <div class="miniprod">
                    <img src="~/imgs/montamonta.jpg" id="imgped" />
                    <p>Monta-Monta, 6 pçs...</p>
                </div>
                <div class="miniprod">
                    <img src="~/imgs/montamonta.jpg" id="imgped" />
                    <p>Monta-Monta, 6 pçs...</p>
                </div>
                <div class="miniprod">
                    <img src="~/imgs/montamonta.jpg" id="imgped" />
                    <p>Monta-Monta, 6 pçs...</p>
                </div>
                <div class="miniprod">
                    <img src="~/imgs/montamonta.jpg" id="imgped" />
                    <p>Monta-Monta, 6 pçs...</p>
                </div>
            </div>
            <!--botões de acesso-->
            <div class="ops-btn">
                <buttom class="btndeta-ped">Detalhes</buttom>
                <buttom class="btnrastreio">Avaliar</buttom>
                <!--aqui estou chamando a modal como se já fosse sido solicitado a devolução mas pode ter a outra opção de encaminhar para o inicio do processo-->
                <buttom class="btncancelarped" type="button" data-bs-toggle="modal" data-bs-target="#avisodevo">Devolver Produto</buttom>
            </div>
        </div>

    </div>

    <!-- Modal Devolucao Aprovado-->

    <div class="modal fade texto-simples" id="avisodevo" data-bs-backdrop="static" data-bs-keyboard="false">
        @*esses datas bs impede que a modal se feche ao clicar no fundo o em esc*@
        <!-- modal-dialog-centered faz ficar no centro verticalmente-->
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content text-center p-2 justify-content-center" style="border-radius: 20px;  position: relative;">
                <!-- tico feliz porque aprovou-->
                <img src="~/imgs/ticofeliz.png" alt="Bonequinho" class="bonequinho-img" style="position: absolute; top: -167px; left: 30%;  height: 200px;"><!--esse position absolute faz ficar no meio e em cima da modal-->
                <!-- x para fechar-->
                <div class="modal-header border-0">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <!-- aqui fica icone confere-->
                    <div class="mb-3">
                        <img src="~/imgs/notifica.png" alt="Ícone de Confirmação" class="mb-3" style="height: 60px;">
                    </div>
                    <!-- Título e Mensagem -->
                    <h1 class="modal-title fs-4 glacial-bold">
                        A solicitação de devolução foi aprovada!
                    </h1>
                    <!-- ese fs é fonte size-->
                    <p class="mb-3 fs-5">Siga com o próximo passo para concluir sua devolução.</p>
                </div>
                <!--botao de dentro da modal-->
                <div class="modal-footer border-0 d-flex justify-content-center">
                    <buttom class="btn btn-primary " data-bs-dismiss="modal" style="border-radius: 25px;">
                        <!--faz com que abra outra padina na mesma aba-->
                        Voltar para o menu
                    </buttom>
                </div>
            </div>
        </div>
    </div>
</section>
