
@{
    ViewData["Title"] = "Acompanhar Pedido";
}

<div class="Perfil position-relative">

        <div class="MinhaConta d-flex flex-column align-items-center py-4">
            <div class="MenuLateral w-100">
                <p class="Botoes align-items-center">Minha Conta</p>
                <p class="Botoes align-items-center">
                    <a asp-controller="Home" asp-action="ProdutosF">
                        <img src="~/imgs/PerfilF.png" alt="Perfil" class="icon me-3">
                        Meu Perfil
                    </a>
                </p>
                <p class="Botoes align-items-center">
                    <a asp-controller="Home" asp-action="PedidosAndamentoF">
                        <img src="~/imgs/Pedidos.png" alt="Pedidos" class="icon me-3">
                        Meus Pedidos
                    </a>
                </p>
                <p class="Botoes align-items-center">
                    <a asp-controller="Home" asp-action="PedidosAndamentoF">
                        <img src="~/imgs/favoritos.png" alt="favoritos" class="icon me-3">
                        Meus Favoritos
                    </a>
                </p>
                <p class="Botoes align-items-center">
                    <a asp-controller="Home" asp-action="PedidosAndamentoF">
                        <img src="~/imgs/cartoes.png" alt="Cartoes" class="icon me-3">
                        Meus Cartões
                    </a>
                </p>
                <p class="Botoes align-items-center">
                    <a asp-controller="Home" asp-action="PedidosAndamentoF">
                        <img src="~/imgs/sair.png" alt="Logout" class="icon me-3">
                        Sair
                    </a>
                </p>
            </div>
        </div>
        <div class="position-absolute bottom-0 start-0 imgCataventos">
            <img src="~/imgs/cataventos.png" alt="cataventos">
        </div>
        <div class="col-9 acompanharpedido">
            <a href="#" class="Voltar">Voltar</a>
            <div class="justify-content-between d-flex">
            <p style=" font-family: 'Edutico'; font-size:23px; color:#1C3FB9">PEDIDOS</p>
                <div class="filtro">
                    <label for="option" style="font-family: 'Glacial Bold'; padding-inline:10px">Ordenar por</label>
                    <select id="ordecao">
                        <option value="todos"> Todos </option>
                    </select>
                </div>
            </div>
            <!--modelo quando pendente-->
            <div class="sumario-pedido glacial-bold">
            <!--cabeçalho com status e número de pedido-->
                <div class="cabeca-sum">
                    <p>Nº pedido 123456-77654</p>
                <p>Status:  <span style="color:#1C3FB9">Pendente</span></p>
                   
                </div>
                <hr />
                <div class="d-flex align-items-center ">
                <!--aqui fica os produtos em miniatura (imagem e nome)-->
                    <div class="d-flex">
                        <div class="miniprod">
                            <img src="~/imgs/montamonta.jpg" id="imgped"/>
                            <p>Monta-Monta, 6 pçs...</p>
                        </div>
                    <div class="miniprod">
                        <img src="~/imgs/montamonta.jpg" id="imgped" />
                        <p>Monta-Monta, 6 pçs...</p>
                    </div>
                    <div class="miniprod">
                        <img src="~/imgs/montamonta.jpg" id="imgped" />
                        <p>Monta-Monta, 6 pçs...</p>
                    </div>
                    <div class="miniprod">
                        <img src="~/imgs/montamonta.jpg" id="imgped" />
                        <p>Monta-Monta, 6 pçs...</p>
                    </div>
                    <!--botão para encaminhar a detalhes pedido-->
                    </div>
                    <div class="ops-btn">
                        <buttom class="btndeta-ped">Detalhes</buttom>
                    </div>
                    
                </div>
            </div>
            <!--modelo quando andamento-->
            <div class="sumario-pedido glacial-bold">
            <!--cabeçalho-->
            <div class="cabeca-sum">
                <p>Nº pedido 123456-77654</p>
                <p>Status:  <span style="color:#D9AF19">Andamento</span></p>
                <p>Entrega: previsto para o dia 26/07/2024</p>
            </div>
            <hr />
            <div class="d-flex align-items-center ">
                <div class=" d-flex">
                    <!--miniatura dos produtos-->
                    <div class="miniprod">
                        <img src="~/imgs/montamonta.jpg" id="imgped" />
                        <p>Monta-Monta, 6 pçs...</p>
                    </div>
                    <div class="miniprod">
                        <img src="~/imgs/montamonta.jpg" id="imgped" />
                        <p>Monta-Monta, 6 pçs...</p>
                    </div>
                    <div class="miniprod">
                        <img src="~/imgs/montamonta.jpg" id="imgped" />
                        <p>Monta-Monta, 6 pçs...</p>
                    </div>
                    <div class="miniprod">
                        <img src="~/imgs/montamonta.jpg" id="imgped" />
                        <p>Monta-Monta, 6 pçs...</p>
                    </div>
                </div>
                <!--botões para acesso do usuario-->
                <div class="ops-btn">
                    <buttom class="btndeta-ped">Detalhes</buttom>
                    <buttom class="btnrastreio">Rastrear</buttom>
                    <buttom class="btncancelarped">Cancelar</buttom>
                </div>
            </div>
            
        </div>
        <!--modelo quando cancelado-->
        <div class="sumario-pedido glacial-bold">
            <!--cabeçalho do pedido-->
            <div class="cabeca-sum">
                <p>Nº pedido 123456-77654</p>
                <p>Status:  <span style="color:red">Cancelado</span></p>

            </div>
            <hr />
            <div class="d-flex align-items-center ">
                <!--produtos em miniatura (só os quatros primeiros)-->
                <div class="d-flex">
                    <div class="miniprod">
                        <img src="~/imgs/montamonta.jpg" id="imgped" />
                        <p>Monta-Monta, 6 pçs...</p>
                    </div>
                    <div class="miniprod">
                        <img src="~/imgs/montamonta.jpg" id="imgped" />
                        <p>Monta-Monta, 6 pçs...</p>
                    </div>
                    <div class="miniprod">
                        <img src="~/imgs/montamonta.jpg" id="imgped" />
                        <p>Monta-Monta, 6 pçs...</p>
                    </div>
                    <div class="miniprod">
                        <img src="~/imgs/montamonta.jpg" id="imgped" />
                        <p>Monta-Monta, 6 pçs...</p>
                    </div>

                </div>
                <div class="ops-btn">
                    <buttom class="btndeta-ped">Detalhes</buttom>
                </div>

            </div>
        </div>
        <!--modelo quando concluido-->
        <div class="sumario-pedido glacial-bold">
            <!--cabeçalho-->
            <div class="cabeca-sum">
                <p>Nº pedido 123456-77654</p>
                <p>Status:  <span style="color:#77C000">Concluído</span></p>
                <p>Devolução: até o dia 03/08/2024</p>
            </div>
            <hr />

            <div class="d-flex align-items-center ">
                <!--miniatura produtos-->
                <div class=" d-flex">
                    <div class="miniprod">
                        <img src="~/imgs/montamonta.jpg" id="imgped" />
                        <p>Monta-Monta, 6 pçs...</p>
                    </div>
                    <div class="miniprod">
                        <img src="~/imgs/montamonta.jpg" id="imgped" />
                        <p>Monta-Monta, 6 pçs...</p>
                    </div>
                    <div class="miniprod">
                        <img src="~/imgs/montamonta.jpg" id="imgped" />
                        <p>Monta-Monta, 6 pçs...</p>
                    </div>
                    <div class="miniprod">
                        <img src="~/imgs/montamonta.jpg" id="imgped" />
                        <p>Monta-Monta, 6 pçs...</p>
                    </div>
                </div>
                <!--botões de acesso-->
                <div class="ops-btn">
                    <buttom class="btndeta-ped">Detalhes</buttom>
                    <buttom class="btnrastreio">Rastrear</buttom>
                    <buttom class="btncancelarped">Cancelar</buttom>
                </div>
            </div>

        </div>
            
        </div>
</div>
