
@{
    ViewData["Title"] = "Acompanhar Pedido";
    Layout = "_MenuPerfil";
}


    <div class="col-9 base areaFavoritos">
        <a href="#" class="Voltar">Voltar</a>
        <div class="justify-content-between d-flex">
            <p style=" font-family: 'Edutico'; font-size:23px; color:#1C3FB9">Pedidos</p>
        </div>
        <div class="Vazio">
            <img src="~/imgs/edupedidos.png"  alt="Tico Vazio">
            <p style=" font-family: 'Glacial Bold'; font-size:15px ">Não há pedidos no momento</p>
            <p style=" font-family: 'Glacial Indifference'; font-size:15px ">Explore os brinquedos educativos e faça sua primeira compra!</p>
        </div>
    </div>

