@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_MenuPerfil";
    ViewData["Title"] = "Meus Cartões";
}
<section class="meuperfil">

    <div class="col-6 ms-4">

        <div class="base-cartao-com">
            <h5 class="text-center" style="color:#1C3FB9; font-family:Edutico;">CADASTRE SEU CARTÃO AQUI</h5>
            <br />

            <form asp-controller="Cartao" asp-action="CadastrarCartao" method="post">
                <div class="form-group mb-3">
                    <label for="titular">Nome do titular <span class="obg">*</span></label>
                    <input name="nomeTitular" type="text" placeholder="Digite aqui o número do cartão" />
                </div>
                <div class="form-group mb-3">
                    <label for="titular">Número do cartão <span class="obg">*</span></label>
                    <input name="numCartao"  type="text" placeholder="Digite aqui o número do cartão" />
                </div>
                <div class="d-flex form-group mb-3">
                    <div class="me-3">
                        <label for="validade">Data de validade<span class="obg">*</span></label>
                        <input name="dataVali" type="text" placeholder="MM/AA" />
                    </div>
                </div>
            
            <div class="d-flex justify-content-end mt-4">
                <button class="btnvoltarcar me-10">Voltar para o menu</button>
                <button type="submit" class="btnconfirmcar">Cadastrar</button>
            </div>
            </form>

        </div>
    </div>

</section>



