
@{
    Layout = "_Layout"; // Isso desativa o layout padrão
    ViewData["Title"] = "Cadastro Cliente";
}


    <div class="container base-cli position-relative">
        <h2 class="titulo_cadascli">Cadastro</h2>
        <hr/>
               <div class="row my-2">
                    <div class="col-3">
                        <h3 id="sub_form">Informações pessoais</h3>
                    </div>
                    <div class="col-9">
                        <form>
                            <div class="d-flex form_cadastro mb-4">
                                <div class="campo col-5">
                                    <label for="username">Primeiro Nome <span class="obg">*</span></label>
                                    <input type="text" id="firstname" placeholder="Digite aqui seu primeiro nome">
                                </div>
                                <div class="campo col-5">
                                    <label for="username">Sobrenome <span class="obg">*</span></label>
                                    <input type="text" id="lastname" placeholder="Digite aqui seu ultimo nome">
                                </div>

                            </div>
                            <div class="d-flex form_cadastro mb-4">
                                <div class="campo col-5">
                                    <label for="email">E-mail <span class="obg">*</span></label>
                                    <input type="text" id="email" placeholder="Digite aqui seu e-mail">
                                </div>
                                <div class="campo col-2">
                        <label for="tel">Telefone <span class="obg">*</span></label>
                                    <input type="text" id="tel" placeholder="(DD) _____-____">
                                </div>
                                <div class="campo col-2">
                        <label for="cpf">CPF <span class ="obg">*</span></label>
                                    <input type="text" id="tel" placeholder="___.___.___-__">
                                </div>

                            </div>
                        </form>
                    </div>
               </div>
               
        <hr/>
        <div class="row my-2">
            <div class="col-3">
                <h3 id="sub_form">Endereço</h3>
            </div>
            <div class="col-9">
                <form>
                <div class="d-flex form_cadastro mb-4">
                    <div class="campo col-3">
                        <label for="option">UF <span class="obg">*</span></label>
                        <select id="estados">
                            <option value="sp"> SP </option>
                            <option value="rj"> RJ </option>
                            <option value="mg"> MG </option>
                            <option value="ce"> CE </option>
                            <option value="am"> AM </option>
                            <option value="ba"> BA </option>
                        </select>
                    </div>

                    <div class="campo col-3">
                        <label for="option">Cidade <span class="obg">*</span></label>
                        <select id="cidade">
                            <option value="saopaulo"> São Paulo </option>
                            <option value="osasco"> Osasco </option>
                            <option value="itapevi"> Itapevi </option>
                            <option value="caieiras"> Caieiras </option>
                            <option value="cajamar"> Cajamar </option>
                        </select>
                    </div>
                    <div class="campo col-3">
                        <label for="cep"> CEP <span class="obg">*</span></label>
                        <input type="text" id="username" placeholder="Digite aqui seu CEP">
                    </div>
                   </div>
                <div class="d-flex form_cadastro mb-4">
                    <div class="campo col-5">
                        <label for="adress"> Logradouro <span class="obg">*</span></label>
                        <input type="text" id="username" placeholder="Digite aqui seu logradouro">
                    </div>
                    <div class="campo col-5">
                    <label for="adress">Bairro <span class="obg">*</span></label>
                     <input type="text" id="username" placeholder="Digite aqui seu bairro">
                    </div>
                 </div>
                <div class="d-flex form_cadastro mb-4">
                    <div class="campo col-5">
                        <label for="number"> Número de residência <span class="obg">*</span></label>
                        <input type="text" id="username" placeholder="Digite aqui seu número">
                    </div>
                    <div class="campo col-5">
                        <label for="adress">Complemento</label>
                        <input type="text" id="username" placeholder="Digite aqui seu complemento">
                    </div>
                </div>
               </form>
            </div>
            <hr />

         <div class="row my-2">
            <div class="col-3">
            <h3 id="sub_form">Senha</h3>
                <p style="font-family:'Glacial Indifference'; font-size:15px; width:150px; margin-left: 20px;">A senha deve ter no mínimo 8 caracteres</p>
            </div>
                <div class="col-9">
                    <form>
                        <div class="d-flex form_cadastro mb-4">
                            <div class="campo col-5">
                            <label for="username">Senha <span class="obg">*</span></label>
                                <input type="text" id="username" placeholder="Digite aqui sua nova senha">
                            </div>
                            <div class="campo col-5">
                            <label for="username">Confirmar senha <span class="obg">*</span></label>
                                <input type="text" id="username" placeholder="Digite novamente sua senha">
                            </div>
                        </div>
                    </form>
                </div>
        </div>
        <hr />
        </div>

   
        <div class="botao_cadastro">
            <button type="submit" asp-controller="Home" asp-action="Login"  class="btn cancelar-btn">Cancelar</button>
            <button type="submit" asp-controller="Home" asp-action="Index" class="btn cadastro-btn">Criar cadastro</button>
         </div>
      
            
    </div>

