@{
    @* PARA ADICIONAR O LAYOUT 2 (FUNC)  *@
    Layout = "_LayoutFunc"; // Isso ativa o layout do funcionário e não o padrão
    ViewData["Title"] = "Produtos Funcionário";
}

    <section class="Conteudo"> <!-- base -->
       

    <section class="DetalhesPedidosF">
        <div class="headerDetalhes">
            <h1>DETALHES PEDIDO</h1>
    </div>
    <hr />
        <div class="row">
            <div class="col-md-6">
                <!--Infos N° Pedido-->
                <div class="Infos1">
                    <div class="Nped d-flex justify-content-between">
                        <p> N° pedido</p>
                        <p> Data de solicitação</p>
                    </div>

                    <div class="DadosNped  d-flex justify-content-between ">
                        <p>1354999</p>
                        <p>17/07/2024</p>
                    </div>
                </div>


                <!-- Dados Cliente-->
                <div class="DadosCliPed">
                    <div class="headerDadoCli">Dados do cliente</div>
                    <div class="line"></div>
                    <div class="DadosCli">
                        <div class="NomeSobre d-flex justify-content-between">
                            <p> Primeiro Nome</p>
                            <p> Sobrenome</p>
                        </div>

                        <div class="DadoNomeSobre  d-flex justify-content-between ">
                            <p>Fulano</p>
                            <p>Souza da Silva</p>
                        </div>

                        <div class="TelCpf d-flex justify-content-between">
                            <p> Telefone </p>
                            <p> CPF</p>
                        </div>

                        <div class="DadoTelCpf  d-flex justify-content-between ">
                            <p>(11)999999999 </p>
                            <p>*********9-12</p>
                        </div>

                    </div>

                </div>
                
        </div>
     </div>
    </section>
</section>
        