@{
    @* PARA ADICIONAR O LAYOUT 2 (FUNC)  *@
    Layout = "_LayoutFunc"; // Isso ativa o layout do funcionário e não o padrão
    ViewData["Title"] = "Detalhes Pedido Funcionário";
}

<section class="Conteudo">
    <!-- base -->

    <section class="DetalhesPedidosF">
        <div class="headerDetalhes">
            <h1>DETALHES PEDIDO</h1>
        </div>
        <hr />
        <!--Infos N° Pedido-->
        <div class="Info">
            <div class="InfoPed d-flex justify-content-between">
                <div class="col-10">
                    <div class="NPed">
                        <p>N° Pedido</p>
                        <h6>123456</h6>
                    </div>

                    <div class="Data">
                        <p>Data de Solicitação</p>
                        <h6>06/09/2024</h6>
                    </div>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-10">



                <!-- Dados Cliente-->

                <div class="DadosCliPed">

                    <div class="headerDadoCli">Dados do cliente</div>
                    <div class="line"></div>


                    <div class="DadosCliPed1 d-flex justify-content-between">
                        <div class="col-2">
                            <div class="Nome">
                                <p>Nome</p>
                                <h6>Fulano</h6>
                            </div>

                            <div class="Tel">
                                <p>Telefone</p>
                                <h6>(11)999999999</h6>
                            </div>
                        </div>
                    </div>

                    <div class="DadosCliPed2 d-flex justify-content-between">
                        <div class="col-8">
                            <div class="Sobrenome">
                                <p>Sobrenome</p>
                                <h6>Fulano</h6>
                            </div>

                            <div class="CPF">
                                <p>CPF</p>
                                <h6>*********9-12</h6>
                            </div>
                        </div>
                    </div>


                    <br />
                    <!-- ENDEREO -->
                    <div class="headerDadoCli">Endereço de entrega</div>
                    <div class="line"></div>
                    <div class="DadosCliPed3 d-flex justify-content-between">
                        <div class="col-2">
                            <div class="Logradouro">
                                <p>Logradouro</p>
                                <h6>Fulano</h6>
                            </div>

                            <div class="Bairro">
                                <p>Bairro</p>
                                <h6>Pasros</h6>
                            </div>
                        </div>
                    </div>

                    <div class="DadosCliPedEnd4 d-flex justify-content-between">
                        <div class="col-4">
                            <div class="CEP">
                                <p>CEP</p>
                                <h6>05135-300</h6>
                            </div>

                            <div class="Cidade">
                                <p>Cidade</p>
                                <h6>São Paulo</h6>
                            </div>
                        </div>
                    </div>


                    <div class="DadosCliPedEnd5 d-flex justify-content-between">
                        <div class="col-2">
                            <div class="Numero">
                                <p>Número</p>
                                <h6>123</h6>
                            </div>

                            <div class="UF">
                                <p>UF</p>
                                <h6>SP</h6>
                            </div>
                        </div>
                    </div>
                    <br />

                    <!--TIPO DE PAGAEMTNO-->
                    <div class="headerDadoCli">Tipo de Pagamento</div>
                    <div class="line"></div>
                    <div class="DadosCliPed6 d-flex justify-content-between">
                        <div class="col-12">
                            <div class="Tipo">
                                <p>Código Pix</p>
                            </div>
                            <div class="CodPix">
                                <h6>13242718GAJHSDAHSDGASDAKSDJ</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- CARD PEDIDO -->
        <div class="CardPed">
            <h1>Pedido</h1>
            <div class="line"></div>
            <div class="Detalhes">
                <p>Data da Compra:</p>
                <p><img src="~/imgs/montamonta.jpg" alt=" Jogo MontaMonta"> <span>Jogo Monta Monta</span> <span>R$ 199,99</span></p>
                <p><img src="~/imgs/montamonta.jpg" alt="Jogo MontaMonta"> <span>Jogo Monta Monta</span> <span>R$ 199,99</span></p>
                <p><span>Entrega</span> <span>R$ 20,00</span></p>

            </div> <div class="line"></div>
            <div class="total">
                <span>Total</span>
                <span class="amount">R$ 418,98</span>
            </div>
            <button class="btn btn-primary">Pedido enviado</button>
        </div>

        <div class="btnvoltar">
            <a asp-controller="Home" asp-action="PedidosAndamentoF" class="register-button">Voltar</a>
        </div>



    </section>
</section>
