f@{
    @* PARA ADICIONAR O LAYOUT 2 (FUNC)  *@
    Layout = "_LayoutFunc"; // Isso ativa o layout do funcionário e não o padrão
    ViewData["Title"] = "Detalhes Devolução Concluida";
}

<section class="container">
    <!-- base -->
    <section class="DetalhesPedidosF">
        <!--Cabeçaho do detalhes pedido-->
        <div class="headerDetalhes">
            <h1>DETALHES DEVOLUÇÃO</h1>
        </div>
        <hr />

        <!--conteudo começa aqui (informações/dados)-->
        <div class="row texto-simples justify-content-between">
            @*a classe texto-simples esta estilizando todos os textos para o glacial tradicional*@
            <!--coluna que guarda os dados do cliente, endereço e fomas de pagamento-->
            <div class="col-6">
                <!--numero e datas da comanda-->
                <div class="d-flex mb-4">
                    <div class="info-devo">
                        @*essa classe ajusta espaçamento para n ficar grudado*@
                        <p>Nº devolução</p>
                        <p id="glacial-bold">123456</p> @*esse id esta deixano o texto em negrito "glacial bold"*@
                    </div>
                    <div class="info-devo">
                        <p>Nº pedido</p>
                        <p id="glacial-bold">123456</p>
                    </div>
                    <div class="info-devo">
                        <p>Data de solicitação</p>
                        <p id="glacial-bold">17/07/2024</p>
                    </div>
                </div>
                <!--Dados do cliente-->
                <div class="sub_perfil">
                    <p id="glacial-bold">Dados Cliente</p>
                </div>
                <hr />
                <!--informações dado do cliente-->
                <div class="d-flex mb-4">
                    <!--colunas com informações (col-4 largura dela)-->
                    <div class="col-4 mb-2">
                        <div class="info-devo mb-3">
                            <p>Primeiro nome</p>
                            <p id="infoped">Fulano</p> @*esse id esta fazendo ficar negrito e cinza*@
                        </div>
                        <div class="info-devo">
                            <p> Telefone</p>
                            <p id="infoped">(11) 99999-0000</p>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="info-devo mb-3">
                            <p>Sobrenome</p>
                            <p id="infoped">Souza da Silva</p>
                        </div>
                        <div class="info-devo">
                            <p>CPF</p>
                            <p id="infoped">**9-12</p>
                        </div>
                    </div>
                </div>
                <!--informações entrega-->
                <div class="sub_perfil">
                    @*essa classe esta tirando o margin do p*@
                    <p id="glacial-bold">Endereço de entrega</p>
                </div>
                <hr />
                <div class="d-flex mb-4">
                    <div class="col-5">
                        <div class="info-devo mb-3">
                            <p>Logradouro</p>
                            <p id="infoped">Rua dos que não acham</p>
                        </div>
                        <div class="info-devo">
                            <p>Bairro</p>
                            <p id="infoped">Vila Leopoldo</p>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="info-devo mb-3">
                            <p> CEP</p>
                            <p id="infoped">12346-123</p>
                        </div>
                        <div class="info-devo">
                            <p>Cidade</p>
                            <p id="infoped">São Paulo</p>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="info-devo mb-3">
                            <p>Número</p>
                            <p id="infoped">1089</p>
                        </div>
                        <div class="info-devo">
                            <p>UF</p>
                            <p id="infoped">SP</p>
                        </div>
                    </div>
                </div>
                <!--informações pagamento-->
                <div class="sub_perfil">
                    <p id="glacial-bold">Tipo de pagamento</p>
                </div>
                <hr />
                <div class="d-flex mb-2">
                    <p>Código PIX </p>
                    <p id="infoped" class="px-2">13242718GAJHSDAHSDGASDAKSDJ</p>
                </div>
                <!--informações reembolso-->
                <div class="sub_perfil">
                    <p id="glacial-bold">Forma reembolso</p>
                </div>
                <hr />
                <div class="d-flex">
                    <p>PIX cliente</p>
                    <p id="infoped" class="px-2">12345678911</p>
                </div>
            </div>

            <!--coluna que tem os produtos pedidos e a msg-->
            <div class="col-6">
                <!--card do pedido-->
                <div class="CardPed">
                    <h1>Pedido</h1>
                    <div class="line"></div>
                    <div class="Detalhes">
                        <p>Data da Compra:</p>
                        <p><img src="~/imgs/montamonta.jpg" alt=" Jogo MontaMonta"> <span>Jogo Monta Monta</span> <span>R$ 199,99</span></p>
                        <p><img src="~/imgs/montamonta.jpg" alt="Jogo MontaMonta"> <span>Jogo Monta Monta</span> <span>R$ 199,99</span></p>
                        <p><span>Entrega</span> <span>R$ 20,00</span></p>

                    </div> <div class="line"></div>
                    <div class="total">
                        <span>Total</span>
                        <span class="amount">R$ 418,98</span>
                    </div>
                    <div class="buttons">
                        <button class="Aceitar" data-bs-toggle="modal" data-bs-target="#ModalDevolucaoAceita">Aceitar devolução</button>
                        <button class="Recusar" data-bs-toggle="modal" data-bs-target="#ModalDevolucaoRecusada">Recusar</button>
                    </div>
                </div>
                <!--mensagem-->
                <div class="msgcli">
                    <h6 id="glacial-bold" class="px-3">Mensagem do cliente</h6>
                    <div class="campomsg">
                        <p>
                            Ao abrir o pacote e examinar o produto, percebi que ele estava quebrado.
                            Infelizmente, o defeito compromete completamente o uso do brinquedo,
                            tornando-o inadequado para sua finalidade e não correspondendo às
                            expectativas de qualidade que eu esperava.Agradeço desde já pela atenção
                            e aguardo um retorno breve com as instruções pertinentes.
                        </p>
                    </div>
                </div>
                <div class="btnvoltar">
                    <a asp-controller="Home" asp-action="DevolucoesF" class="register-button">Voltar</a>
                </div>
            </div>

        </div>

        <!-- MODAL ACEITO -->
        <div class="modal fade texto-simples" id="ModalDevolucaoAceita" data-bs-backdrop="static" data-bs-keyboard="false">
            @*esses datas bs impede que a modal se feche ao clicar no fundo o em esc*@
            <!-- modal-dialog-centered faz ficar no centro verticalmente-->
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content text-center p-2 justify-content-center" style="border-radius: 20px;  position: relative;">

                    <!-- x para fechar-->
                    <div class="modal-header border-0">
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <!-- aqui fica icone confere-->
                        <div class="mb-3">
                            <img src="~/imgs/aprovado.png" alt="Ícone de Confirmação" class="mb-3" style="height: 80px;">
                        </div>
                        <!-- Título e Mensagem -->
                        <h1 class="modal-title fs-4 glacial-bold">
                            A solicitação de devolução
                            foi aprovada!
                        </h1>
                        <!-- ese fs é fonte size-->
                        <p class="mb-3 fs-5 glacial-bold">O cliente foi notificado.</p>

                    </div>
                    <!--botao de dentro da modal-->
                    <div class="modal-footer border-0 d-flex justify-content-center">
                        <a href="@Url.Action("DevolucoesF", "Home")" class="btn btn-primary Modal-btn">
                            <!--faz com que abra outra padina na mesma aba-->
                            Voltar para o menu
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!-- MODAL RECUSADO -->
        <div class="modal fade texto-simples" id="ModalDevolucaoRecusada" data-bs-backdrop="static" data-bs-keyboard="false">
            @*esses datas bs impede que a modal se feche ao clicar no fundo o em esc*@
            <!-- modal-dialog-centered faz ficar no centro verticalmente-->
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content text-center p-2 justify-content-center" style="border-radius: 20px;  position: relative;">

                    <!-- x para fechar-->
                    <div class="modal-header border-0">
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <!-- aqui fica icone confere-->
                        <div class="mb-3">
                            <img src="~/imgs/Cancel.png" alt="Ícone de Confirmação" class="mb-3" style="height: 80px;">
                        </div>
                        <!-- Título e Mensagem -->
                        <h1 class="modal-title fs-4 glacial-bold">
                            A solicitação de devolução
                            foi recusada!
                        </h1>
                        <!-- ese fs é fonte size-->
                        <p class="mb-3 fs-5 glacial-bold">O cliente foi notificado.</p>

                    </div>
                    <!--botao de dentro da modal-->
                    <div class="modal-footer border-0 d-flex justify-content-center">
                        <a href="@Url.Action("DevolucoesF", "Home")" class="btn btn-primary Modal-btn">
                            <!--faz com que abra outra padina na mesma aba-->
                            Voltar para o menu
                        </a>
                    </div>
                </div>
            </div>
        </div>

    </section>
</section>