@{
    ViewData["Title"] = "Esqueceu a Senha";
}
<div class="imgBolas">
    <div class="container containerSenha">
        <div class="TxtNovaSenha">
            <p>Digite aqui sua nova senha!</p>
        </div>
        <form method="post">
            <div class="form-senha">
                <label for="password">E-mail</label>
                <input type="email" id="email" placeholder="Digite aqui seu e-mail">

            </div>
            <div class="form-senha">
                <label for="password">Senha nova</label>
                <input type="password" id="password" placeholder="Digite aqui sua senha nova">

            </div>
            <div class="form-senha">
                <label for="password">Confirme a senha</label>
                <input type="password" id="password" placeholder="Digite aqui sua senha nova novamente">
            </div>

        </form>
        <div class="button-senha">
            <button type="submit" asp-controller="Home" asp-action="Login" class="btn ConfirmarSenha-btn">Confirmar nova senha</button>
        </div>
    </div>
</div>