@{
    ViewData["Title"] = "Favoritos Cheio";
}
<section class="quandoVazio">
<div class="Favs position-relative">

    <div class="MinhaConta d-flex flex-column align-items-center py-4">
        <div class="MenuLateral w-100">
            <!-- Adicionei w-100 para ocupar toda a largura -->
            <p class="Botoes align-items-center">
                <!-- Alinhei ícones e texto -->
                Minha Conta
            </p>

            <p class="Botoes align-items-center">
                <a asp-controller="Home" asp-action="ProdutosF">
                    <img src="~/imgs/PerfilF.png" alt="Perfil" class="icon me-3">
                    Meu Perfil
                </a>
            </p>


            <p class="Botoes align-items-center">
                <a asp-controller="Home" asp-action="PedidosAndamentoF">
                    <img src="~/imgs/Pedidos.png" alt="Pedidos" class="icon me-3">
                    Meus Pedidos
                </a>
            </p>

            <p class="Botoes align-items-center  @((ViewContext.RouteData.Values["action"] as string) == "ProdutosF" ? "active" : "")">
                <a asp-controller="Home" asp-action="PedidosAndamentoF">
                <img src="~/imgs/favoritos.png" alt="favoritos" class="icon me-3">
                Meus Favoritos
                </a>
            </p>

            <p class="Botoes align-items-center">
                <a asp-controller="Home" asp-action="PedidosAndamentoF">
                <img src="~/imgs/cartoes.png" alt="Cartoes" class="icon me-3">
                Meus Cartões
                </a>
            </p>

            <p class="Botoes align-items-center">
                <a asp-controller="Home" asp-action="PedidosAndamentoF">
                <img src="~/imgs/sair.png" alt="Logout" class="icon me-3">
                Sair
                </a>
            </p>

        </div>
    </div>
    <div class="position-absolute bottom-0 start-0 imgCataventos">
        <img src="~/imgs/cataventos.png" alt="cataventos">
    </div>


    <div class="col-9 base areaFavoritos">
        <a href="#" class="Voltar">Voltar</a>
        <div class="justify-content-between d-flex">
        <p style=" font-family: 'Edutico'; font-size:23px; color:#426ef0">FAVORITOS</p>
            <div class="filtro">
                <label for="option" style="font-family: 'Glacial Bold'; padding-inline:10px">Ordenar por</label>
                <select id="ordecao">
                    <option value="relevante"> Relevante </option>
                </select>
            </div>

        </div>


        <div class="row">
            @*xl antes da maxima, cada item ocupa 2 colunas,
            lg -> 3 colunas, md -> 4 colunas sm -> 6 colunas, e fora disso ocupa a linha toda*@
            @*d-flex align-items-stretch, ajusta os itens deixando eles do mesmo tamanho*@
            <div class="col-sm-3 d-flex align-items-stretch">
                <div class="card product-card my-2">
                    <div class="card-body py-2">
                        <div class="position-relative">
                            <button class="btn position-absolute right-0 top-0 px-0">
                                <img src="~/imgs/heart.png" class="heart-icon">
                            </button>
                        </div>
                        <img src="~/imgs/montamonta.jpg" class="card-img-top rounded mt-1" alt="Monta Monta" />
                        <h6 class="card-title mt-3 text-center mx-0 glacial-bold">Monta-Monta, 6 pçs</h6>
                        <p class="text mb-3 small-text">
                            <img src="~/imgs/Star.png" class="icone mb-1"> 5.0 (10 avaliações)
                        </p>
                        <p class="text-primary h4 glacial-bold">R$ 10,00</p>
                    </div>
                    <button class="btn position-absolute bottom-0 end-0 px-2">
                        <img src="~/imgs/carrinhoadd.png" class="cart-icon">
                    </button>
                </div>

            </div>
            <div class="col-sm-3 d-flex align-items-stretch">
                <div class="card product-card my-2">
                    <div class="card-body py-2">
                        <div class="position-relative">
                            <button class="btn position-absolute right-0 top-0 px-0">
                                <img src="~/imgs/heart.png" class="heart-icon">
                            </button>
                        </div>
                        <img src="~/imgs/montamonta.jpg" class="card-img-top rounded mt-1" alt="Monta Monta" />
                        <h6 class="card-title mt-3 text-center mx-0 glacial-bold">Monta-Monta, 6 pçs</h6>
                        <p class="text mb-3 small-text">
                            <img src="~/imgs/Star.png" class="icone mb-1"> 5.0 (10 avaliações)
                        </p>
                        <p class="text-primary h4 glacial-bold">R$ 10,00</p>
                    </div>
                    <button class="btn position-absolute bottom-0 end-0 px-2">
                        <img src="~/imgs/carrinhoadd.png" class="cart-icon">
                    </button>
                </div>

            </div>
            <div class="col-sm-3 d-flex align-items-stretch">
                <div class="card product-card my-2">
                    <div class="card-body py-2">
                        <div class="position-relative">
                            <button class="btn position-absolute right-0 top-0 px-0">
                                <img src="~/imgs/heart.png" class="heart-icon">
                            </button>
                        </div>
                        <img src="~/imgs/montamonta.jpg" class="card-img-top rounded mt-1" alt="Monta Monta" />
                        <h6 class="card-title mt-3 text-center mx-0 glacial-bold">Monta-Monta, 6 pçs</h6>
                        <p class="text mb-3 small-text">
                            <img src="~/imgs/Star.png" class="icone mb-1"> 5.0 (10 avaliações)
                        </p>
                        <p class="text-primary h4 glacial-bold">R$ 10,00</p>
                    </div>
                    <button class="btn position-absolute bottom-0 end-0 px-2">
                        <img src="~/imgs/carrinhoadd.png" class="cart-icon">
                    </button>
                </div>

            </div>
            <div class="col-sm-3 d-flex align-items-stretch">
                <div class="card product-card my-2">
                    <div class="card-body py-2">
                        <div class="position-relative">
                            <button class="btn position-absolute right-0 top-0 px-0">
                                <img src="~/imgs/heart.png" class="heart-icon">
                            </button>
                        </div>
                        <img src="~/imgs/montamonta.jpg" class="card-img-top rounded mt-1" alt="Monta Monta" />
                        <h6 class="card-title mt-3 text-center mx-0 glacial-bold">Monta-Monta, 6 pçs</h6>
                        <p class="text mb-3 small-text">
                            <img src="~/imgs/Star.png" class="icone mb-1"> 5.0 (10 avaliações)
                        </p>
                        <p class="text-primary h4 glacial-bold">R$ 10,00</p>
                    </div>
                    <button class="btn position-absolute bottom-0 end-0 px-2">
                        <img src="~/imgs/carrinhoadd.png" class="cart-icon">
                    </button>
                </div>

            </div>
            <div class="col-sm-3 d-flex align-items-stretch">
                <div class="card product-card my-2">
                    <div class="card-body py-2">
                        <div class="position-relative">
                            <button class="btn position-absolute right-0 top-0 px-0">
                                <img src="~/imgs/heart.png" class="heart-icon">
                            </button>
                        </div>
                        <img src="~/imgs/montamonta.jpg" class="card-img-top rounded mt-1" alt="Monta Monta" />
                        <h6 class="card-title mt-3 text-center mx-0 glacial-bold">Monta-Monta, 6 pçs</h6>
                        <p class="text mb-3 small-text">
                            <img src="~/imgs/Star.png" class="icone mb-1"> 5.0 (10 avaliações)
                        </p>
                        <p class="text-primary h4 glacial-bold">R$ 10,00</p>
                    </div>
                    <button class="btn position-absolute bottom-0 end-0 px-2">
                        <img src="~/imgs/carrinhoadd.png" class="cart-icon">
                    </button>
                </div>

            </div>
            <div class="col-sm-3 d-flex align-items-stretch">
                <div class="card product-card my-2">
                    <div class="card-body py-2">
                        <div class="position-relative">
                            <button class="btn position-absolute right-0 top-0 px-0">
                                <img src="~/imgs/heart.png" class="heart-icon">
                            </button>
                        </div>
                        <img src="~/imgs/montamonta.jpg" class="card-img-top rounded mt-1" alt="Monta Monta" />
                        <h6 class="card-title mt-3 text-center mx-0 glacial-bold">Monta-Monta, 6 pçs</h6>
                        <p class="text mb-3 small-text">
                            <img src="~/imgs/Star.png" class="icone mb-1"> 5.0 (10 avaliações)
                        </p>
                        <p class="text-primary h4 glacial-bold">R$ 10,00</p>
                    </div>
                    <button class="btn position-absolute bottom-0 end-0 px-2">
                        <img src="~/imgs/carrinhoadd.png" class="cart-icon">
                    </button>
                </div>

            </div>
            <div class="col-sm-3 d-flex align-items-stretch">
                <div class="card product-card my-2">
                    <div class="card-body py-2">
                        <div class="position-relative">
                            <button class="btn position-absolute right-0 top-0 px-0">
                                <img src="~/imgs/heart.png" class="heart-icon">
                            </button>
                        </div>
                        <img src="~/imgs/montamonta.jpg" class="card-img-top rounded mt-1" alt="Monta Monta" />
                        <h6 class="card-title mt-3 text-center mx-0 glacial-bold">Monta-Monta, 6 pçs</h6>
                        <p class="text mb-3 small-text">
                            <img src="~/imgs/Star.png" class="icone mb-1"> 5.0 (10 avaliações)
                        </p>
                        <p class="text-primary h4 glacial-bold">R$ 10,00</p>
                    </div>
                    <button class="btn position-absolute bottom-0 end-0 px-2">
                        <img src="~/imgs/carrinhoadd.png" class="cart-icon">
                    </button>
                </div>
            </div>
            <div class="col-sm-3 d-flex align-items-stretch">
                <div class="card product-card my-2">
                    <div class="card-body py-2">
                        <div class="position-relative">
                            <button class="btn position-absolute right-0 top-0 px-0">
                                <img src="~/imgs/heart.png" class="heart-icon">
                            </button>
                        </div>
                        <img src="~/imgs/montamonta.jpg" class="card-img-top rounded mt-1" alt="Monta Monta" />
                        <h6 class="card-title mt-3 text-center mx-0 glacial-bold">Monta-Monta, 6 pçs</h6>
                        <p class="text mb-3 small-text">
                            <img src="~/imgs/Star.png" class="icone mb-1"> 5.0 (10 avaliações)
                        </p>
                        <p class="text-primary h4 glacial-bold">R$ 10,00</p>
                    </div>
                    <button class="btn position-absolute bottom-0 end-0 px-2">
                        <img src="~/imgs/carrinhoadd.png" class="cart-icon">
                    </button>
                </div>
            </div>

        </div>
    </div>
   
</div>
</section>