@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_LayoutCli2";
    ViewData["Title"] = "Formulário de Devolução";
}
<section class="FormDev">
    <div class="TitFormDev text-start">
        <!-- Alinha o título à direita -->
        <h1>FORMULÁRIO DEVOLUÇÃO</h1>
    </div>
    <section class="FormDevolucao">

        <form>
            <div class="Msg text-center">
                <!-- Centraliza a mensagem -->
                <h3>Lamentamos que seu produto não tenha atendido às suas expectativas!</h3>
            </div>

            <div class="mb-3">
                <label for="cxDesc" class="form-label">Descreva o motivo da devolução, para que possamos iniciar o processo:</label>
                <textarea id="cxDesc" class="form-control" placeholder="Descreva aqui o motivo da devolução maneira mais detalhada possível."></textarea>
            </div>

            <div class="mb-3">
                <label for="cxPix" class="form-label">Digite a chave PIX para receber o reembolso:</label>
                <input type="text" id="cxPix" class="form-control" placeholder="Digite aqui a chave pix" />
            </div>

            <div class="d-flex justify-content-end">
                <!-- Alinha o botão à esquerda -->
                <button class="btn btn-primary btnAvancar" type="button" data-bs-toggle="modal" data-bs-target="#avisodevo2">Avançar</button>
            </div>
        </form>
    </section>
</section>

<!-- Modal Devolucao Aprovado-->

<div class="modal fade texto-simples" id="avisodevo2" data-bs-backdrop="static" data-bs-keyboard="false">
    @*esses datas bs impede que a modal se feche ao clicar no fundo o em esc*@
    <!-- modal-dialog-centered faz ficar no centro verticalmente-->
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content text-center p-2 justify-content-center" style="border-radius: 20px;  position: relative;">
            <!-- tico feliz porque aprovou-->
            <img src="~/imgs/ticofeliz.png" alt="Bonequinho" class="bonequinho-img" style="position: absolute; top: -167px; left: 30%;  height: 200px;"><!--esse position absolute faz ficar no meio e em cima da modal-->
            <!-- x para fechar-->
            <div class="modal-header border-0">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- aqui fica icone confere-->
                <div class="mb-3">
                    <img src="~/imgs/notifica.png" alt="Ícone de Confirmação" class="mb-3" style="height: 60px;">
                </div>
                <!-- Título e Mensagem -->
                <h1 class="modal-title fs-4 glacial-bold">
                    Processo iniciado com Sucesso!
                </h1>
                <!-- ese fs é fonte size-->
                <p class="mb-3 fs-5">Obrigado pela sua compreensão!</p>
                <p class="text-center mx-2">
                    Sua solicitação de devolução foi recebida e está sendo processada. Em breve, você receberá informações com as próximas etapas. Agradecemos por sua paciência e compreensão.
                </p>
            </div>
            <!--botao de dentro da modal-->
            <div class="modal-footer border-0 d-flex justify-content-center">
                <buttom class="btn btn-primary " data-bs-dismiss="modal" style="border-radius: 25px;">
                    <!--faz com que abra outra padina na mesma aba-->
                    Voltar para o menu
                </buttom>
            </div>
        </div>
    </div>
</div>

