@{
    @* PARA ADICIONAR O LAYOUT 2 (FUNC)  *@
    Layout = "_LayoutFunc"; // Isso ativa o layout do funcionário e não o padrão
    ViewData["Title"] = "Histórico de Vendas";
}

<section class="Conteudo">
    <!-- base -->
    <!-- Barra de pesquisa centralizada -->
    <form class="d-flex justify-content-center align-items-center search-bar">
        <img src="~/imgs/lupa.png" class="icone" style="height: 18px; width: 18px; opacity: 0.3; margin-left: 10px; margin-top: 5px;">
        <input class="layout-label" type="search" placeholder="Procurar" aria-label="Search" style="font-family:'Glacial Bold'; opacity: 0.5;">

    </form>

    <section class="HistoricoVendas">
        <div class="header">
            <h1>HISTÓRICO DE VENDAS</h1>
        </div>

        <div class="containerTabela">
            <div class="status">
                <div class="tabactive">
                    Concluídos
                </div>
                <div class="tab">
                    Em andamento
                </div>
                <div class="tab">
                    Cancelados
                </div>
            </div>
            <table class="TabelaH">
                <thead>
                    <tr>
                        <th>N° Pedido</th>
                        <th>Produto</th>
                        <th>Valor</th>
                        <th>Data</th>
                        <th>Informações</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>142309</td>
                        <td><span><img src="~/imgs/montamonta.jpg" /></span>Monta-monta 6 pçs...</td>
                        <td>R$20,00</td>
                        <td>20/08/2024</td>
                        <td><a asp-controller="Home" asp-action="DetalhesPedidoF">Detalhes</a></td>
                    </tr>

                </tbody>
            </table>
        </div>

        <div class="row">
            <div class="col-4">
                <div class="filter-section1">
                    <h2>FILTROS</h2>

                    <div class="filter-section2">
                        <h3>Categoria</h3>
                        <label><input type="radio" name="categoria" checked> jogo</label>
                        <label><input type="radio" name="categoria"> quebra-cabeça</label>
                        <label><input type="radio" name="categoria"> jogoo</label>
                        <label><input type="radio" name="categoria"> quebra-cabeça</label>
                        <label><input type="radio" name="categoria"> jogoo</label>
                        <label><input type="radio" name="categoria"> quebra-cabeça</label>
                        <label><input type="radio" name="categoria"> jogoo</label>
                    </div>
                    <div class="filter-section2">
                        <h3>Avaliação</h3>
                        <label><input type="radio" name="avaliacao" checked> 5 Estrelas</label>
                        <label><input type="radio" name="avaliacao"> 4 Estrelas</label>
                        <label><input type="radio" name="avaliacao"> 3 Estrelas</label>
                        <label><input type="radio" name="avaliacao"> 2 Estrelas</label>
                        <label><input type="radio" name="avaliacao"> 1 Estrelas</label>
                    </div>
                </div>
            </div>
        </div>




    </section>
</section>