@{
    ViewData["Title"] = "Pagamento QrCode";
}

<section class="alinhamento">
    <div class="text-center texto-simples">
        <h6 class="py-3">Pedido confirmado! Realize o pagamento para efetuarmos a sua compra.</h6>
        <div class="base-code">
            <h5 class="glacial-bold pb-3" style="color:#1C3FB9;">PAGAMENTO COM PIX</h5>
            <img src="~/imgs/QrCode.png" alt="QRCODE">
            <p class="pt-3">28719692738e4092905ikldsjfu4ty746y37</p>
        </div>
        <p class="pt-3">*O pagamento deve ser efetuado em até 30 minutos</p>
        <button class="btnnav">Voltar para o menu</button>
    </div>
</section>