
@{
    Layout = "_LayoutCli2";
    ViewData["Title"] = "Termos Devolução";
}
<section class="container texto-simples">
    <div class="base-termo">
        <h6>Política de Devolução de Brinquedos</h6>
        <br />
        <h6>1. Prazo para Devolução:</h6>
        <p>Os brinquedos adquiridos em nossa loja podem ser devolvidos dentro de 30 dias a partir da data de compra. Este prazo é garantido para que nossos clientes possam avaliar o produto e garantir sua satisfação.</p>
        <br />
        <h6>2. Condições de Devolução:</h6>
        <p>Para que a devolução seja aceita, os brinquedos devem estar em sua embalagem original, sem sinais de uso, e com todos os acessórios e manuais inclusos. A integridade do produto é essencial para o processamento da devolução. Produtos danificados, usados ou sem a embalagem original não serão aceitos.</p>
        <br />
        <h6>3. Procedimento de Devolução:</h6>
        <p>Para iniciar uma devolução, entre em contato com nosso serviço de atendimento ao cliente através do e-mail ou telefone fornecido em nosso site. No contato, por favor, forneça o número do pedido e o motivo da devolução. Nossa equipe orientará sobre os próximos passos e fornecerá um código de autorização de devolução.</p>
        <br />
        <h6>4. Frete de Devolução:</h6>
        <p>O custo do frete para devolução será coberto por nós se o brinquedo apresentar defeito de fabricação ou se houver erro no envio do pedido. Em outros casos, como desistência ou arrependimento da compra, o custo do frete de devolução será de responsabilidade do cliente. Recomendamos o uso de um serviço de envio com rastreamento para garantir que o item devolvido chegue em segurança.</p>
        <br />
        <h6>5. Reembolsos:</h6>
        <p>Após a recepção e inspeção do brinquedo devolvido, emitiremos um reembolso total ou parcial, dependendo das condições do item devolvido. O reembolso será processado através da forma de pagamento original utilizada na compra e será efetuado em até 10 dias úteis após a confirmação da devolução. Em caso de reembolso parcial, detalharemos os motivos e o valor reembolsado.</p>
        <br />
        <h6>6. Exceções:</h6>
        <p>Alguns itens específicos, como produtos em promoção, itens personalizados ou produtos adquiridos em liquidações especiais, não são elegíveis para devolução ou reembolso, exceto em casos de defeitos de fabricação. Verifique as descrições dos produtos e as condições da promoção para mais detalhes.</p>
        <br />
        <h6>7. Garantia:</h6>
        <p>Brinquedos com defeitos de fabricação podem ser devolvidos dentro do período de garantia especificado no produto, mesmo após o prazo de 30 dias para devolução. A garantia cobre apenas defeitos de fabricação e não cobre danos causados por uso inadequado, desgaste normal ou acidentes. Para acionar a garantia, entre em contato com nosso serviço de atendimento ao cliente com a descrição detalhada do defeito e, se possível, fotos do produto.</p>
        <br />
        <h6>8. Contato:</h6>
        <p>Para mais informações ou dúvidas sobre nossa política de devolução entre em contato com nossa equipe de atendimento ao cliente. Estamos disponíveis para ajudar e garantir que você tenha a melhor experiência de compra possível.</p>
        <br />
        <p>Agradecemos por escolher nossa loja e esperamos que você e suas crianças aproveitem os brinquedos com muita alegria e diversão.</p>
    </div>
    <div class="aceitar">
        <label><input type="checkbox"> Li e concordo com os Termos de Devolução</label>
        <button class="btnaceitar">Aceitar</button>
    </div>
    
</section>
