/* Fontes */
@font-face {
    font-family: 'Edutico';
    src: url('/fonts/Edutico-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Glacial';
    src: url('/fonts/glacial.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Glacial Bold';
    src: url('/fonts/GlacialIndifference-Bold.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

/* Geral */
body {
    background-color: #F4F4F4;
}

/* Layout Principal */
.Tudo {
    display: flex;
    padding: 20px;
}

/* Sidebar */
.sidebarF {
    width: 250px;
    height: 90vh;
    background-color: white;
    border-radius: 10px;
    align-items: center;
    box-shadow: 2px 2px 2px 1px #ccc;
}

.logoFunc img {
    margin-left: -25px;
}

.sidebarF .BotoesSidebar {
    font-family: Glacial Bold;
    color: #385BD2;
    display: grid;
    gap: 20px;
    justify-content: space-between;
    margin-left: 32px;
    margin-top: 10px;
}

.BotoesSidebar .active {
    background-color: #F4F7FF; /* Cor de fundo quando ativo */
    border-radius: 10px;
    align-items: center;
    width: 200px;
    height: 30px;
}

    .BotoesSidebar .active a {
        color: #385BD2; /* Cor do texto e ícone quando ativo */
        font-weight: bold;
    }

.sidebarF .BotoesSidebar img {
    height: 20px;
    width: 20px;
}

.sidebarF .BotoesSidebar p {
    font-size: 15px;
}

.sidebarF .BotoesSidebar a {
    text-decoration: none;
}

/* Conteúdo */
.Conteudo {
    width: 90%;
    height: auto;
    margin-left: 190px;
    margin-top: -93vh;
    padding: 15px;
    background-color: white;
    justify-content: center;
    border-radius: 10px;
    align-items: center;
    box-shadow: 2px 2px 2px 2px #ccc;
}

.search-bar {
    background-color: #F4F4F4;
    margin-left: 25px;
    width: 95%;
    height: 32px;
    border-radius: 10px;
}

.layout-label {
    background-color: transparent;
    margin-left: 2px;
    width: 95%;
    height: 32px;
    border-radius: 10px;
    border: 2px #F4F4F4;
    outline: none;
}

/* Produtos */
.ProdutosF {
    width: 100%;
    height: 100%;
}


.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 20px;
}

    .header h1 {
        font-size: 30px;
        margin-top: 40px;
        color: #000;
        font-family: Edutico;
    }

    .header .sort {
        display: flex;
        align-items: center;
        margin-top: 40px;
        margin-left: 45px;
    }

        .header .sort span {
            font-size: 14px;
            font-family: 'Glacial Indifference';
            color: #000;
        }


        .header .sort select {
            font-size: 14px;
            padding: 5px;
            border: 1px solid #ccc;
            border-radius: 4px;
            margin-left: 5px;
        }

    .header .register-button {
        font-size: 14px;
        font-family: 'Glacial Bold';
        color: #385BD2;
        border: 2px solid #385BD2;
        padding: 5px 10px;
        border-radius: 20px;
        text-decoration: none;
        margin-top: 40px;
        margin-left: 5px;
    }

.product-card {
    margin-left: 15px;
    width: 90%;
    height: 95%;
    background-color: #f9f9f9; /* Cor de fundo do card */
    border-radius: 20px; /* Bordas arredondadas do card */
    box-shadow: 6px 4px 6px rgba(0, 0, 0, 0.1); /* Sombra nas bordas */
    border: 1px solid #ddd; /* Adiciona uma borda sutil ao redor do card */
}

    .product-card .card-body {
        padding: 8px; /* Reduz o espaçamento interno do card */
        margin-left: 15px;
    }

    .product-card img.card-img-top {
        border-radius: 30px; /* Arredonda as bordas da imagem */
        margin-top: 5px;
        width: 150px;
        height: 150px;
    }

    .product-card h6.card-title {
        margin-top: 5px;
        margin-bottom: 5px;
        font-family: "Glacial Bold"
    }

    .product-card .small-text {
        margin-bottom: 5px; /* Espaçamento inferior do texto pequeno */
        font-size: 12px;
        font-family: "Glacial";
        opacity: 0.5;
    }

    .product-card p.text-primary {
        margin-top: -15px;
        margin-bottom: 5px;
        font-family: "Glacial Bold";
        color: #385BD2;
    }

    .product-card .button-container {
        margin-top: 5px;
    }

/* Botões */
.button-container {
    margin-right: 15px;
}

.btn {
    padding: 2px;
    border-radius: 10px;
    border: none;
    font-family: 'Glacial';
    width: 80px;
    font-size: 14px; /* Tamanho da fonte */
    cursor: pointer; /* Muda o cursor para indicar que o botão é clicável */
}

.desativar-btn {
    background-color: rgba(227, 27, 33, 0.3); /* Cor vermelha com 30% de opacidade */
    color: black;
    margin-left: 10px; /* Espaçamento à esquerda do botão desativar */
}

.editar-btn {
    background-color: rgba(151, 227, 27, 0.25); /* Cor verde com 25% de opacidade */
    color: black;
    margin-left: 20px; /* Espaçamento à esquerda do botão editar */
}

    .desativar-btn:hover, .editar-btn:hover {
        opacity: 0.8; /* Adiciona um efeito de opacidade ao passar o mouse */
    }

/* PEDIDOS EM ANDAMENTO  */
table {
    margin-left: 50px;
    margin-top: 10px;
    width: 90%;
    border-collapse: collapse;
    align-items: initial;
}

th, td {
    border: 2px solid #ddd;
    padding: 8px;
    border-left: none;
    border-right: none;
}

th {
    margin-left: 15px;
    color: #ABABAB;
    font-weight: normal;
    font-size: 14px;
    font-family: 'Glacial Indifference';
    text-align: left;
    border-top: none;
    padding-bottom: 0px;
}

td {
    margin-left: 5px;
    font-size: 12px;
    font-family: Glacial;
    text-align: left;
}

/* FAVORITOS */
.TabelaF {
    margin-left: 25px;
    margin-top: 10px;
    width: 90%;
    border-collapse: collapse;
    align-items: initial;
}

    .TabelaF th, td {
        border: 2px solid #ddd;
        padding: 8px;
        border-left: none;
        border-right: none;
    }

    .TabelaF th {
        margin-left: 15px;
        color: #ABABAB;
        font-weight: normal;
        font-size: 14px;
        font-family: 'Glacial Indifference';
        text-align: left;
        border-top: none;
        padding-bottom: 0px;
    }



    .TabelaF td {
        margin-left: 8px;
        font-size: 12px;
        font-family: Glacial;
        text-align: left;
        max-width: 80px;
    }

        .TabelaF td img {
            margin-left: 5px;
            width: 35px;
            height: 35px;
            border: 1px solid #bbb;
            border-radius: 5px;
            text-align: left;
        }


/* DETALHES PEDIDO */
.DetalhesPedidosF {
    height: auto;
    padding: 10px;
}

.headerDetalhes {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

    .headerDetalhes h1 {
        font-size: 30px;
        margin-top: 20px;
        color: #000;
        font-family: Edutico;
    }


.Info {
    margin-top: 5px;
    margin-left: 2px;
    width: auto;
    padding: 10px;
    align-items: center;
}

    .Info p {
        font-family: 'Glacial Indifference';
        color: black;
        font-size: 14px;
        padding-inline: 5px;
        margin-bottom: 0;
    }

    .Info h6 {
        font-size: 15px;
        padding-inline: 5px;
        width: 90%;
        font-family: 'Glacial Bold';
    }

.NPed {
    margin-left: 15px;
}

.Data {
    margin-left: 220px;
    margin-top: -50px;
}

/* Dados Cliente */
.DadosCliPed {
    margin-top: 10px;
    margin-left: 2px;
    width: 60%;
    height: auto;
    padding: 10px;
    align-items: center;
}

.headerDadoCli {
    font-family: 'Glacial Bold';
    font-size: 16px;
    margin-bottom: 10px;
    margin-left: 20px;
    margin-top: 5px;
}

.line {
    border-top: 1px solid #e0e0e0;
    margin-top: -15px;
}

.DadosCliPed p {
    font-family: 'Glacial Indifference';
    color: black;
    font-size: 14px;
    padding-inline: 5px;
    margin-bottom: 0;
}

.DadosCliPed h6 {
    font-size: 12px;
    padding-inline: 5px;
    width: 90%;
    font-family: 'Glacial Bold';
    opacity: 0.5;
}

.DadosCliPed1 {
    margin-left: 15px;
}

.DadosCliPed2 {
    margin-left: 210px;
    margin-top: -87px;
}

.DadosCliPed3 {
    margin-left: 15px;
}

.DadosCliPedEnd4 {
    margin-left: 220px;
    margin-top: -84px;
}

.DadosCliPedEnd5 {
    margin-left: 390px;
    margin-top: -87px;
}

.Tipo {
    margin-left: 15px;
}

.CodPix {
    margin-left: 122px;
    margin-top: -16px;
}

/*CARD PEDIDO */
.CardPed {
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 1px solid #ccc;
    padding: 20px;
    width: 400px;
    text-align: center;
    font-family: 'Glacial Indifference';
    margin: 20px;
}

    .CardPed h1 {
        font-size: 24px;
        margin-bottom: 20px;
        font-family: 'Glacial Bold';
        font-weight: bold;
    }

    .CardPed .Detalhes {
        text-align: left;
        margin-bottom: 20px;
    }

        .CardPed .Detalhes p {
            margin: 5px 0;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

            .CardPed .Detalhes p img {
                width: 60px;
                height: 60px;
                margin-right: 10px;
            }

    .CardPed .total {
        font-size: 18px;
        font-weight: bold;
        font-family: 'Glacial Bold';
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

        .CardPed .total .amount {
            font-size: 24px;
            color: #000;
        }

    .CardPed .btn {
        background-color: #0047bb;
        width: 150px;
        height: 30px;
        margin-top: 20px;
        border-radius: 20px;
        border: none;
        color: #fff;
        align-items: center;
        cursor: pointer;
        text-align: center;
        font-family: 'Glacial Bold';
        font-size: 14px;
    }


.btnvoltar {
    position: relative;
    margin-left: 70%;
    width: 150px;
    height: 30px;
}

    .btnvoltar .register-button {
        font-size: 14px;
        font-family: 'Glacial Bold';
        color: #385BD2;
        border: 2px solid #385BD2;
        padding: 5px 30px;
        border-radius: 20px;
        text-decoration: none;
    }

/*CADASTRAR PRODUTO*/
.form-group {
    margin-bottom: 15px;
    margin-left: 20px;
    width: 35%;
    height: auto;
    padding: 10px;
}

label {
    font-size: 14px;
}

.req {
    color: red;
}

.form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 12px;
    outline: none;
    box-sizing: border-box;
}

    .form-control:focus {
        border-color: #000;
    }

#CxTipo1 {
    border: 0.5px solid #191919;
    height: 30px;
    width: 400px;
    border-radius: 5px;
    margin-bottom: 10px;
}

    #CxTipo1:focus {
        border-color: #000;
    }

#CxDesc {
    border: 0.5px solid #191919;
    height: 120px;
    border-radius: 5px;
    margin-bottom: 10px;
    width: 400px;
}

    #CxDesc:focus {
        border-color: #000;
    }

#CxTipo2 {
    border: 0.5px solid #191919;
    height: 30px;
    width: 300px;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}

    #CxTipo2:focus {
        border-color: #000;
    }

.Select {
    border: 0.5px solid #191919;
    height: 25px;
    width: 300px;
    font-size: 12px;
    border-radius: 5px;
    margin-left: 4px;
    margin-bottom: 10px;
}


.form-group2 {
    margin-top: -500px;
    margin-bottom: 15px;
    margin-left: 525px;
    width: 35%;
    height: auto;
    padding: 10px;
}

.Select2 {
    border: 0.5px solid #191919;
    height: 25px;
    width: 400px;
    font-size: 12px;
    border-radius: 5px;
    margin-left: 2px;
    margin-bottom: 10px;
}

.btns {
    margin-top: 60px;
    margin-left: 550px;
    margin-bottom: 20px;
    text-align: center; /* Centraliza os botões horizontalmente */
}

    .btns .btnCancelar {
        font-size: 14px;
        font-family: 'Glacial Bold';
        color: #1C3FB9;
        background-color: transparent;
        border: 2px solid #1C3FB9;
        padding: 5px 30px;
        border-radius: 20px;
        text-decoration: none;
        margin-right: 10px; /* Espaço entre os botões */
        display: inline-block; /* Mantém o botão lado a lado */
    }

    .btns .btnCadastrar {
        font-size: 14px;
        font-family: 'Glacial Bold';
        color: white;
        border: 2px solid #1C3FB9;
        background-color: #1C3FB9;
        padding: 5px 30px;
        border-radius: 20px;
        text-decoration: none;
        display: inline-block; /* Mantém o botão lado a lado */
    }

/* SUBIDNO IMG */
.picture__input {
    display: none;
}

.picture {
    width: 400px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #bbb;
    border: 0.5px dashed #bbb;
    cursor: pointer;
    border-radius: 10px;
    font-family: 'Glacial Indifference', sans-serif;
    padding: 10px;
    position: relative; /* Para controlar a posição do texto/imagem */
}

.picture__img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover; /* Garante que a imagem se ajuste sem distorcer */
    border-radius: 10px;
}

.picture__placeholder {
    text-align: center;
    font-size: 1.2rem;
    color: #bbb;
}

    .picture__placeholder img {
        max-width: 200px; /* Tamanho do símbolo */
        display: block;
        margin: 0 auto;
    }


/*HISTÓRICO DE VENDAS*/
/* FAVORITOS */
.TabelaH {
    margin-left: 240px;
    margin-top: -250px;
    margin-bottom: 100px;
    width: 72%;
    border-collapse: collapse;
    align-items: initial;
}

    .TabelaH th, td {
        border: 2px solid #ddd;
        padding: 8px;
        border-left: none;
        border-right: none;
    }

    .TabelaH th {
        margin-left: 15px;
        color: #ABABAB;
        font-weight: normal;
        font-size: 14px;
        font-family: 'Glacial Indifference';
        text-align: left;
        border-top: none;
        padding-bottom: 0px;
    }



    .TabelaH td {
        margin-left: 8px;
        font-size: 12px;
        font-family: Glacial;
        text-align: left;
        max-width: 80px;
    }

        .TabelaH td img {
            margin-left: 5px;
            width: 35px;
            height: 35px;
            border: 1px solid #bbb;
            border-radius: 5px;
            text-align: left;
        }
/*filtros*/
.filtro {
    padding-inline: 5px;
}

    .filtro select {
        border: none;
        background: none;
    }

.filter-section {
    padding: 20px;
    max-width: 200px;
    margin-left: 5px;
}

    .filter-section h3 {
        color: #426ef0;
        font-size: 18px;
        margin-bottom: 15px;
        font-family: 'Edutico';
    }

.filter-item {
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 18px;
    background-color: #fff;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.filter-title {
    font-family: 'Glacial';
    padding: 8px;
    padding-inline: 20px;
    font-size: 12px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
}

    .filter-title:after {
        content: '\25BC'; /* Setinha para baixo */
        font-size: 10px;
    }

    .filter-title.active:after {
        content: '\25B2'; /* Setinha para cima */
    }

.filter-content {
    max-height: 0; /* Altura inicial, escondida */
    overflow: hidden; /* Esconde o conteúdo extra */
    transition: max-height 0.3s ease-out; /* Transição suave */
    padding-inline: 20px;
    font-size: 16px;
    background-color: #fff;
    border-top: none;
}

    .filter-content label {
        display: block;
        padding: 8px 0;
        cursor: pointer;
    }

    .filter-content input {
        margin-right: 10px;
    }

/*HISTÓRICO DE VENDAS*/
.containerTabela {
    width: 100%;
    margin: 20px auto;
    border-radius: 8px;
    margin-left: 10px;
}

    .containerTabela .status {
        width: 20rem;
        margin-left: 180px;
        margin-bottom: 10px;
        max-width: 65%;
        display: flex;
        font-size: 15px;
        font-family: "Glacial Bold";
        justify-content: space-between;
    }

    .containerTabela .tab {
        text-align: left;
        cursor: pointer;
        color: #ABABAB;
    }

.status .tabactive {
    color: #385BD2;
    border-bottom: 2px solid #385BD2;
}

.containerTabela .TabelaH {
    margin-left: 190px;
    margin-top: 10px;
    margin-bottom: 100px;
    width: 78%;
    border-collapse: collapse;
    align-items: initial;
}

.TabelaH th, td {
    border: 2px solid #ddd;
    padding: 8px;
    border-left: none;
    border-right: none;
}

.TabelaH th {
    margin-left: 15px;
    color: #ABABAB;
    font-weight: normal;
    font-size: 14px;
    font-family: 'Glacial Indifference';
    text-align: left;
    border-top: none;
    padding-bottom: 0px;
}



.TabelaH td {
    margin-left: 8px;
    font-size: 12px;
    font-family: Glacial;
    text-align: left;
    max-width: 80px;
}

    .TabelaH td img {
        margin-left: 5px;
        width: 35px;
        height: 35px;
        border: 1px solid #bbb;
        border-radius: 5px;
        text-align: left;
    }
/*filtros*/
/* Estilo da seção principal de filtros */
.filter-section1 {
    padding: 20px;
    max-width: 200px;
    margin-left: -2px;
    margin-top: -260px;
    margin-bottom: 20px; /* Espaço entre as seções de filtro */
    display: block;
}

    .filter-section1 h2 {
        color: #426ef0;
        font-size: 18px;
        margin-bottom: 15px;
        font-family: 'Edutico';
    }

.filter-section2 {
    padding: 20px;
    max-width: 200px;
    border: 1px solid #ddd;
    border-radius: 18px;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px; /* Espaço entre as seções de filtro */
}


    .filter-section2 h3 {
        font-size: 15px;
        margin-bottom: 15px;
        font-family: 'Glacial Indifference';
    }


.filter-item {
    display: block;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 18px;
    background-color: #fff;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/*label e input de cada filtro (radios) */
.filter-section label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
    cursor: pointer; /* Para que a label seja clicável */
    padding-left: 10px;
}

.filter-section input[type="radio"] {
    margin-right: 10px;
    accent-color: #426ef0;
    vertical-align: middle; /* Alinhar o radio button verticalmente com o texto */
}

/*INFO HISTORICO*/
.subtitulo h3 {
    font-size: 18px;
    margin-top: -5px;
    margin-left: 35px;
    margin-bottom: 30px;
    color: #000;
    font-family: 'Glacial Bold';
}

.areaAtribs {
    border-radius: 30px;
    border: 1px solid rgba(0, 0, 0, 0.20);
    align-items: center;
    padding: 25px;
    background: white;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.2);
    font-family: 'Glacial Indifference';
}

.detalhes-ped p {
    margin-bottom: 10px;
}


.info-ped {
    margin-bottom: 30px;
}

    .info-ped p {
        margin-top: 20px;
        margin-bottom: 5px;
        font-family: 'Glacial Bold';
    }

.dado-ped {
    margin-bottom: 30px;
}

    .dado-ped p {
        margin-top: 20px;
        margin-bottom: 5px;
    }

    .dado-ped span {
        font-size: 12px;
        font-family: 'Glacial Indifference';
        color: #000;
        opacity: 0.5;
        margin-left: 20px;
        margin-bottom: 5px;
    }

.histacoes {
    border-radius: 30px;
    border: 1px solid rgba(0, 0, 0, 0.20);
    align-items: center;
    padding: -5px;
    background: white;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.2);
    font-family: 'Glacial Indifference';
}

    .histacoes h3 {
        font-family: 'Glacial Bold';
        font-size: 18px;
        text-align: center;
        margin-top: 15px;
    }

.data {
    margin-left: 30px;
    margin-bottom: 3px;
}

    .data p {
        margin-top: 20px;
        margin-bottom: 5px;
    }

.acao {
    margin-left: 60px;
    margin-bottom: 3px;
}

    .acao p {
        margin-top: 20px;
        margin-bottom: 5px;
        font-family: 'Glacial Bold';
    }


.histacoes {
    border-radius: 30px;
    border: 1px solid rgba(0, 0, 0, 0.20);
    align-items: center;
    padding: -5px;
    background: white;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.2);
    font-family: 'Glacial Indifference';
}

    .histacoes h3 {
        font-family: 'Glacial Bold';
        font-size: 18px;
        text-align: center;
        margin-top: 15px;
    }

.data {
    margin-left: 30px;
    margin-bottom: 3px;
}

    .data p {
        margin-top: 20px;
        margin-bottom: 5px;
    }

.acao {
    margin-left: 60px;
    margin-bottom: 3px;
}

    .acao p {
        margin-top: 20px;
        margin-bottom: 5px;
        font-family: 'Glacial Bold';
    }

.base-prod-detalhe {
    background: #F9F9F9;
    border-radius: 20px;
    border: 1px solid #808080;
    justify-content: space-evenly;
    width: 100%;
    padding: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
}

.imgpequena {
    background-color: #808080;
    border-radius: 16px;
    border: 1px solid gray;
    width: 100px;
    height: 100px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.imgprincipal {
    background-color: #fff;
    border-radius: 16px;
    border: 1px solid gray;
    width: 31rem;
    height: 31rem;
}

.provi {
    background-color: #808080;
    border-radius: 16px;
    border: 1px solid gray;
    width: 25px;
    height: 25px;
}

.btncar {
    width: 100%;
    padding: 10px;
    background: blue;
    color: white;
    justify-content: center;
}


/*DETALHE PRODUTO*/
/*Geral*/
.base-prod-detalhe {
    background: white;
    border-radius: 20px;
    border: 1px solid #b2b2b2;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.2);
}

    .base-prod-detalhe h3 {
        font-family: 'Edutico';
        font-size: 20px;
    }

.texto-simples {
    font-family: 'Glacial';
    font-size: 15px;
    margin-bottom: 0;
}

#glacial-bold {
    font-family: 'Glacial Bold';
}

.qtdProd {
    margin-left: 10px;
    align-items: center;
    text-align: center;
    font-size: 14px;
    width: 120px;
    height: 25px;
    border: 1px solid #000;
    border-radius: 20px;
}
/*Div imgs*/
.imgpequena {
    background-color: #808080;
    border-radius: 16px;
    border: 1px solid gray;
    width: 100px;
    height: 100px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.imgprincipal {
    background-color: #fff;
    border-radius: 16px;
    border: 1px solid gray;
    width: 31rem;
    height: 31rem;
}

/*Div detalhes*/
#versaocompleta.hidden {
    display: none;
    margin-top: 20px;
}

.base-prod-detalhe .vermais {
    background-color: #fff;
    color: #385BD2;
    border-radius: 30px;
    border: none;
    margin: 10px;
    font-size: 15px;
    margin-top: 10px;
    font-family: 'Glacial Bold';
}

.base-prod-detalhe h4 {
    font-family: 'Glacial Bold';
    color: #385BD2;
}

.fundo_ver {
    height: 70px;
    width: 100%;
    border-radius: 30px;
    background: linear-gradient(to top, white, transparent);
}

/*Div avaliações*/
.rating-score {
    text-align: center;
}

.total-ratings hr {
    margin: 2px;
}

.stars {
    font-size: 24px;
    color: gold;
}

.rating-summary {
    width: 300px;
    margin: 20px auto;
}

.rating-row {
    display: flex;
    align-items: center;
    margin-inline: 10px;
}

    .rating-row span {
        width: 15px;
        font-size: 15px;
    }

.progress-bar {
    background-color: #e0e0e0;
    border-radius: 7px;
    width: 100%;
    height: 7px;
}

.progress {
    height: 100%;
    background-color: #385BD2;
    border-radius: 5px;
}

.total-ratings {
    text-align: center;
    margin-bottom: 50px;
}

.rating-details ul {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 16px;
}

.review-form {
    border-top: 1px solid #eaeaea;
    padding-top: 20px;
    margin-bottom: 30px;
}

    .review-form h3 {
        font-size: 20px;
        margin-bottom: 10px;
    }

.stars-input {
    font-size: 24px;
    color: gray;
    cursor: pointer;
}

.base-prod-detalhe textarea {
    width: 100%;
    height: 100px;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid gray;
    border-radius: 15px;
    background-color: #bdbdbd66;
}

.btnava {
    width: 100%;
    padding: 5px;
    background: #385BD2;
    color: white;
    text-align: center;
    border-radius: 16px;
    font-family: 'Glacial Bold';
    font-size: 15px;
    border: none;
}

.iconeava {
    height: 15px;
    width: 15px;
}

.review {
    margin-bottom: 20px;
}

.review-header {
    margin-bottom: 10px;
    width: 70px;
    line-height: 15px;
}

.review-content {
    background-color: #f1f1f1;
    padding: 10px;
    border-radius: 0 10px 10px 10px;
    border: 1px solid #BBBBBB;
    font-size: 14px;
}

.btnAlt {
    margin: 20px 0 10px -15px;
    width: 130px;
    height: 35px;
    border-radius: 15px;
    padding: 10px;
    background-color: blue;
    color: white;
    font-family: 'Glacial Bold';
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.btnDes {
    margin: 20px 0 10px 15px;
    width: 130px;
    height: 35px;
    border: 2px solid #E31B21;
    border-radius: 15px;
    padding: 10px;
    background-color: white;
    color: #E31B21;
    font-weight: bold;
    font-family: 'Glacial Bold';
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}


/* TESTE CADASTRO DE PRODUTOS, NÃO MEXER ENQUANTO A TELA OFICIAL NÃO TIVER PRONTA */
.chips-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 10px;
}

.chip {
    background-color: #e0e0e0;
    border-radius: 25px;
    padding: 10px 20px;
    font-size: 14px;
    font-family: 'Glacial';
    cursor: pointer;
    transition: background-color 0.3s;
}

    .chip.selected {
        background-color: #385BD2;
        color: white;
    }

/*TELA DETALHES DEVOLUÇÃO (A APROVAR)*/
.MensagemCliente {
    margin-top: 20px; /* Espaçamento entre o card de pedido e a mensagem */
    padding: 15px; /* Ajuste de padding */
    background: white;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
}

    .MensagemCliente h1 {
        font-size: 18px; /* Reduzindo um pouco o tamanho da fonte */
        margin-bottom: 10px;
    }

.mensagem-box {
    background-color: #f9f9f9; /* Cor de fundo suave */
    padding: 15px;
    border-radius: 8px;
    border: 1px solid #dcdcdc;
    font-size: 14px; /* Ajuste de tamanho de fonte para melhor leitura */
}

    .mensagem-box p {
        margin: 0;
        line-height: 1.5;
        text-align: justify; /* Justifica o texto para uma melhor apresentação */
    }



/*Modificações detalhes pedido*/

.info-devo {
    margin-right: 30px;
}

    .info-devo p {
        margin-bottom: 5px;
    }

.sub_perfil p {
    margin-bottom: 0;
}

.DetalhesPedidosF hr {
    margin-top: 0;
}

#infoped {
    font-family: 'Glacial Bold';
    color: gray;
}

.campomsg {
    height: auto;
    width: 400px;
    border: 1px solid #808080;
    border-radius: 20px;
    padding: 20px;
    text-align: justify;
}

.msgcli {
    width: auto;
    margin: 20px;
}

.buttons {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
    display: flex;
    gap: 20px; /* Espaço entre os elementos filhos */
}

.Aceitar {
    width: 180px;
    height: 35px;
    background-color: #1C3FB9;
    color: white;
    border-radius: 30px;
    border: none;
}

.Recusar {
    height: 35px;
    width: 120px;
    border-radius: 35px;
    background-color: transparent;
    color: #1C3FB9;
    border: 2px solid #1C3FB9;
}

/*DEVOLUÇÕES*/
.statusdevolucoes {
    width: 20rem; /* ou ajuste conforme necessário */
    max-width: 65%;
    margin: 5px 0 20px 25px;
    display: flex;
    gap: 30px; /* diminua o gap entre as tabs */
    font-size: 15px;
    font-family: "Glacial Bold";
    justify-content: flex-start; /* alinha os itens ao início */
}

    .statusdevolucoes .tab {
        text-align: left;
        cursor: pointer;
        color: #ABABAB;
        padding-bottom: 3px;
    }

    .statusdevolucoes .tabactive {
        color: #385BD2;
        border-bottom: 2px solid #385BD2;
    }

/*MODAL*/
.Modal-btn {
    border-radius: 25px;
    width: 200px;
    padding: 10px 0;
    font-size: 14px;
    font-family: 'Glacial Bold';
    background-color: #0046F5; /* Cor do botão como na imagem */
}

.modal-body h1 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.modal-body p {
    font-size: 18px;
    font-weight: normal;
}