/* Fontes */
@font-face {
    font-family: 'Edutico';
    src: url('/fonts/Edutico-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Glacial';
    src: url('/fonts/glacial.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Glacial Bold';
    src: url('/fonts/GlacialIndifference-Bold.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

/* Geral */
body {
    background-color: #F4F4F4;
}

/* Layout Principal */
.Tudo {
    display: flex;
    padding: 20px;
}

/* Sidebar */
.sidebarF {
    width: 250px;
    height: 90vh;
    background-color: white;
    border-radius: 10px;
    align-items: center;
    box-shadow: 2px 2px 2px 1px #ccc;
}

.logoFunc img {
    margin-left: -25px;
}

.sidebarF .BotoesSidebar {
    font-family: Glacial Bold;
    color: #385BD2;
    display: grid;
    gap: 20px;
    justify-content: space-between;
    margin-left: 32px;
    margin-top: 10px;
}

.BotoesSidebar .active {
    background-color: #F4F7FF; /* Cor de fundo quando ativo */
    border-radius: 10px;
    align-items: center;
    width: 200px;
    height: 30px;
}

    .BotoesSidebar .active a {
        color: #385BD2; /* Cor do texto e ícone quando ativo */
        font-weight: bold;
    }

.sidebarF .BotoesSidebar img {
    height: 20px;
    width: 20px;
}

.sidebarF .BotoesSidebar p {
    font-size: 15px;
}

.sidebarF .BotoesSidebar a {
    text-decoration: none;
}

/* Conteúdo */
.Conteudo {
    width: 90%;
    height: auto;
    margin-left: 190px;
    margin-top: -93vh;
    padding: 15px;
    background-color: white;
    justify-content: center;
    border-radius: 10px;
    align-items: center;
    box-shadow: 2px 2px 2px 2px #ccc;
}

.search-bar {
    background-color: #F4F4F4;
    margin-left: 25px;
    width: 95%;
    height: 32px;
    border-radius: 10px;
}

.layout-label {
    background-color: transparent;
    margin-left: 2px;
    width: 95%;
    height: 32px;
    border-radius: 10px;
    border: 2px #F4F4F4;
    outline: none;
}

/* Produtos */
.ProdutosF {
    width: 100%;
    height: 100%;
}


.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 20px;
}

    .header h1 {
        font-size: 30px;
        margin-top: 40px;
        margin-left: 15px;
        color: #000;
        font-family: Edutico;
    }

    .header .sort {
        display: flex;
        align-items: center;
        margin-top: 40px;
        margin-left: 45px;
    }

        .header .sort span {
            font-size: 14px;
            font-family: 'Glacial Indifference';
            color: #000;
        }


        .header .sort select {
            font-size: 14px;
            padding: 5px;
            border: 1px solid #ccc;
            border-radius: 4px;
            margin-left: 5px;
        }

    .header .register-button {
        font-size: 14px;
        font-family: 'Glacial Bold';
        color: #385BD2;
        border: 2px solid #385BD2;
        padding: 5px 10px;
        border-radius: 20px;
        text-decoration: none;
        margin-top: 40px;
        margin-left: 5px;
    }

.product-card {
    margin-left: 15px;
    width: 90%;
    height: 95%;
    background-color: #f9f9f9; /* Cor de fundo do card */
    border-radius: 20px; /* Bordas arredondadas do card */
    box-shadow: 6px 4px 6px rgba(0, 0, 0, 0.1); /* Sombra nas bordas */
    border: 1px solid #ddd; /* Adiciona uma borda sutil ao redor do card */
}

    .product-card .card-body {
        padding: 8px; /* Reduz o espaçamento interno do card */
        margin-left: 15px;
    }

    .product-card img.card-img-top {
        border-radius: 30px; /* Arredonda as bordas da imagem */
        margin-top: 5px;
        width: 150px;
        height: 150px;
    }

    .product-card h6.card-title {
        margin-top: 5px;
        margin-bottom: 5px;
        font-family: "Glacial Bold"
    }

    .product-card .small-text {
        margin-bottom: 5px; /* Espaçamento inferior do texto pequeno */
        font-size: 12px;
        font-family: "Glacial";
        opacity: 0.5;
    }

    .product-card p.text-primary {
        margin-top: -15px;
        margin-bottom: 5px;
        font-family: "Glacial Bold";
        color: #385BD2;
    }

    .product-card .button-container {
        margin-top: 5px;
    }

/* Botões */
.button-container {
    margin-right: 15px;
}

.btn {
    padding: 2px;
    border-radius: 10px;
    border: none;
    font-family: 'Glacial';
    width: 80px;
    font-size: 14px; /* Tamanho da fonte */
    cursor: pointer; /* Muda o cursor para indicar que o botão é clicável */
}

.desativar-btn {
    background-color: rgba(227, 27, 33, 0.3); /* Cor vermelha com 30% de opacidade */
    color: black;
    margin-left: 10px; /* Espaçamento à esquerda do botão desativar */
}

.editar-btn {
    background-color: rgba(151, 227, 27, 0.25); /* Cor verde com 25% de opacidade */
    color: black;
    margin-left: 20px; /* Espaçamento à esquerda do botão editar */
}

    .desativar-btn:hover, .editar-btn:hover {
        opacity: 0.8; /* Adiciona um efeito de opacidade ao passar o mouse */
    }

/* PEDIDOS EM ANDAMENTO  */
table {
    margin-left: 50px;
    margin-top: 10px;
    width: 90%;
    border-collapse: collapse;
}

th, td {
    border: 2px solid #ddd;
    padding: 8px;
    border-left: none;
    border-right: none;
}

th {
    color: #ABABAB;
    font-weight: normal;
    font-size: 14px;
    font-family: 'Glacial Indifference';
    text-align: left;
    border-top: none;
    padding-bottom: 0px;
}

td {
    font-size: 12px;
    font-family: Glacial;
    text-align: center;
}


/* DETALHES PEDIDO */
.DetalhesPedidosF {
    height: auto;
    padding: 10px;
}

.headerDetalhes {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 20px;
}

    .headerDetalhes h1 {
        font-size: 30px;
        margin-top: 20px;
        margin-left: 20px;
        color: #000;
        font-family: Edutico;
    }

hr {
    margin-left: 20px;
    margin-top: 5px;
    width: 95%;
    border: 1px solid #b1b1b1;
}

.Info {
    margin-top: 5px;
    margin-left: 2px;
    width: auto;
    padding: 10px;
    align-items: center;
}

    .Info p {
        font-family: 'Glacial Indifference';
        color: black;
        font-size: 14px;
        padding-inline: 5px;
        margin-bottom: 0;
    }

    .Info h6 {
        font-size: 15px;
        padding-inline: 5px;
        width: 90%;
        font-family: 'Glacial Bold';
    }

.NPed {
    margin-left: 15px;
}

.Data {
    margin-left: 220px;
    margin-top: -50px;
}

/* Dados Cliente */
.DadosCliPed {
    margin-top: 10px;
    margin-left: 2px;
    width: 60%;
    height: auto;
    padding: 10px;
    align-items: center;
}

.headerDadoCli {
    font-family: 'Glacial Bold';
    font-size: 16px;
    margin-bottom: 10px;
    margin-left: 20px;
    margin-top: 5px;
}

.line {
    border-top: 1px solid #e0e0e0;
    margin-top: -15px;
}

.DadosCliPed p {
    font-family: 'Glacial Indifference';
    color: black;
    font-size: 14px;
    padding-inline: 5px;
    margin-bottom: 0;
}

.DadosCliPed h6 {
    font-size: 12px;
    padding-inline: 5px;
    width: 90%;
    font-family: 'Glacial Bold';
    opacity: 0.5;
}

.DadosCliPed1 {
    margin-left: 15px;
}

.DadosCliPed2 {
    margin-left: 210px;
    margin-top: -87px;
}

.DadosCliPed3 {
    margin-left: 15px;
}

.DadosCliPedEnd4 {
    margin-left: 220px;
    margin-top: -84px;
}

.DadosCliPedEnd5 {
    margin-left: 390px;
    margin-top: -87px;
}

.Tipo {
    margin-left: 15px;
}

.CodPix {
    margin-left: 122px;
    margin-top: -16px;
}

/*CARD PEDIDO */
.CardPed {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 2px solid #ccc;
    padding: 20px;
    width: 400px;
    text-align: center;
    margin-left: 525px;
    margin-top: -400px;
    font-family: 'Glacial Indifference';
}

    .CardPed h1 {
        font-size: 24px;
        margin-bottom: 20px;
        font-family: 'Glacial Bold';
        font-weight: bold;
    }

    .CardPed .Detalhes {
        text-align: left;
        margin-bottom: 20px;
    }

        .CardPed .Detalhes p {
            margin: 5px 0;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

            .CardPed .Detalhes p img {
                width: 60px;
                height: 60px;
                margin-right: 10px;
            }

    .CardPed .total {
        font-size: 18px;
        font-weight: bold;
        font-family: 'Glacial Bold';
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

        .CardPed .total .amount {
            font-size: 24px;
            color: #000;
        }

    .CardPed .btn {
        background-color: #0047bb;
        width: 150px;
        height: 30px;
        margin-top: 20px;
        border-radius: 20px;
        border: none;
        color: #fff;
        align-items: center;
        cursor: pointer;
        text-align: center;
        font-family: 'Glacial Bold';
        font-size: 14px;
    }


.btnvoltar {
    margin-top: 80px;
    margin-left: 750px;
    width: 150px;
    height: 30px;
}

    .btnvoltar .register-button {
        font-size: 14px;
        font-family: 'Glacial Bold';
        color: #385BD2;
        border: 2px solid #385BD2;
        padding: 5px 30px;
        border-radius: 20px;
        text-decoration: none;
    }

/*CADASTRAR PRODUTO*/
.form-group {
    margin-bottom: 15px;
    margin-left: 20px;
    width: 35%;
    height: auto;
    padding: 10px;
}

label {
    font-size: 14px;
}

.req {
    color: red;
}

.form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 12px;
    outline: none;
    box-sizing: border-box;
}

    .form-control:focus {
        border-color: #000;
    }

#CxTipo1 {
    border: 0.5px solid #191919;
    height: 30px;
    width: 400px;
    border-radius: 5px;
    margin-bottom: 10px;
}

    #CxTipo1:focus {
        border-color: #000;
    }

#CxDesc {
    border: 0.5px solid #191919;
    height: 120px;
    border-radius: 5px;
    margin-bottom: 10px;
    width: 400px;
}

    #CxDesc:focus {
        border-color: #000;
    }

#CxTipo2 {
    border: 0.5px solid #191919;
    height: 30px;
    width: 300px;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}

    #CxTipo2:focus {
        border-color: #000;
    }

.Select {
    border: 0.5px solid #191919;
    height: 25px;
    width: 300px;
    font-size: 12px;
    border-radius: 5px;
    margin-left: 4px;
    margin-bottom: 10px;
}


.form-group2 {
    margin-top: -500px;
    margin-bottom: 15px;
    margin-left: 525px;
    width: 35%;
    height: auto;
    padding: 10px;
}

.Select2 {
    border: 0.5px solid #191919;
    height: 25px;
    width: 400px;
    font-size: 12px;
    border-radius: 5px;
    margin-left: 2px;
    margin-bottom: 10px;
}

.btns {
    margin-top: 60px;
    margin-left: 550px;
    margin-bottom: 20px;
    text-align: center; /* Centraliza os botões horizontalmente */
}

    .btns .btnCancelar {
        font-size: 14px;
        font-family: 'Glacial Bold';
        color: #1C3FB9;
        background-color: transparent;
        border: 2px solid #1C3FB9;
        padding: 5px 30px;
        border-radius: 20px;
        text-decoration: none;
        margin-right: 10px; /* Espaço entre os botões */
        display: inline-block; /* Mantém o botão lado a lado */
    }

    .btns .btnCadastrar {
        font-size: 14px;
        font-family: 'Glacial Bold';
        color: white;
        border: 2px solid #1C3FB9;
        background-color: #1C3FB9;
        padding: 5px 30px;
        border-radius: 20px;
        text-decoration: none;
        display: inline-block; /* Mantém o botão lado a lado */
    }

/* SUBIDNO IMG */
.picture__input {
    display: none;
}

.picture {
    width: 400px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #bbb;
    border: 0.5px dashed #bbb;
    cursor: pointer;
    border-radius: 10px;
    font-family: 'Glacial Indifference', sans-serif;
    padding: 10px;
    position: relative; /* Para controlar a posição do texto/imagem */
}

.picture__img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover; /* Garante que a imagem se ajuste sem distorcer */
    border-radius: 10px;
}

.picture__placeholder {
    text-align: center;
    font-size: 1.2rem;
    color: #bbb;
}

    .picture__placeholder img {
        max-width: 200px; /* Tamanho do símbolo */
        display: block;
        margin: 0 auto;
    }