@{
    Layout = "_LayoutCli2";
    ViewData["Title"] = "Meus Cartoes";
}

@model List<Cartao>

<section class="meuperfil">
    <div class="Perfil position-relative">
        <!--menu lateral-->
        <div class="MinhaConta d-flex flex-column align-items-center py-4">
            <div class="MenuLateral w-100">
                <p class="Botoes align-items-center">Minha Conta</p>
                <p class="Botoes align-items-center">
                    <a asp-controller="Home" asp-action="ProdutosF">
                        <img src="~/imgs/PerfilF.png" alt="Perfil" class="icon me-3">
                        Meu Perfil
                    </a>
                </p>
                <p class="Botoes align-items-center">
                    <a asp-controller="Home" asp-action="PedidosAndamentoF">
                        <img src="~/imgs/Pedidos.png" alt="Pedidos" class="icon me-3">
                        Meus Pedidos
                    </a>
                </p>
                <p class="Botoes align-items-center">
                    <a asp-controller="Home" asp-action="PedidosAndamentoF">
                        <img src="~/imgs/favoritos.png" alt="favoritos" class="icon me-3">
                        Meus Favoritos
                    </a>
                </p>
                <p class="Botoes align-items-center">
                    <a asp-controller="Cartao" asp-action="MeusCartoes">
                        <img src="~/imgs/cartoes.png" alt="Cartoes" class="icon me-3">
                        Meus Cartões
                    </a>
                </p>
                <p class="Botoes align-items-center">
                    <a asp-controller="Home" asp-action="PedidosAndamentoF">
                        <img src="~/imgs/sair.png" alt="Logout" class="icon me-3">
                        Sair
                    </a>
                </p>
            </div>
        </div>
        <div class="position-absolute bottom-0 start-0 imgCataventos">
            <img src="~/imgs/cataventos.png" alt="cataventos">
        </div>

        <!--conteúdo da tela começa aqui-->
        <div class="col-9 base areaFavoritos texto-simples " style="min-height:80vh;">
            <a href="#" class="Voltar">Voltar</a>
            <div class="justify-content-between d-flex">
                <p style=" font-family: 'Edutico'; font-size:23px; color:#1F3C9D">MEUS CARTÕES</p>
                <!--botão que muda a tela para cadastrar o cartão-->
                <a type="button" class="editar" asp-controller="Home" asp-action="CadastroMeusCartoes">Cadastrar novo cartão</a>
            </div>

            @foreach (var cartoes in Model)
            {
                <!--seção do cartao começa aqui-->
                <div class="base-op-cartao">
                    <!--o que aparece antes de clicar para expandir-->
                    <div class="card-sumario">

                        <p id="glacial-bold"><img src="~/imgs/master.png" alt="Master" class="me-2" />9087</p>
                        <!--botão que expande-->
                        <button class="setaabrefecha" onclick="expandirCartao('card-info-1', 'seta-1')">
                            <img id="seta-1" src="~/imgs/setalado.png" alt="Seta" class="setaabre">
                        </button>
                    </div>
                    <!--o que aparece depois de expandido-->
                    <div class="justify-content-center d-flex">
                        <!--div que é passado pro js -->
                        <div id="card-info-1" class="card-info">
                            <!--titulo em cima do cartao-->
                            <p id="glacial-bold" style="color:gray;">Informações do cartão</p>
                            <!--base do cartão em si-->
                            <div class="base-cartao" style="background:linear-gradient(135deg, #f0f0c9, #d1e1f3);">

                                <!--botão que irá removelo dos meus cartões-->
                                <div class=" d-flex justify-content-end">
                                    <button type="button" class="editar">Remover</button>
                                </div>
                                <!--infomações do cartão-->
                                <div class="d-flex mb-4">
                                    <p style="margin-top:-20px;"><img src="~/imgs/Bandeira.png" alt="bandeira" class="bandeira"> Cartão</p>
                                </div>
                                <div class="d-flex w-50 justify-content-between mb-5">
                                    <p>****</p>
                                    <p>****</p>
                                    <p>*</p>
                                    <p>@cartoes.NumCartao.ToString().Substring(cartoes.NumCartao.ToString().Length - 4)</p>
                                </div>
                                <p class="text-esquerda">Data de validade: @cartoes.DataVali</p>
                            </div>

                        </div>
                    </div>
                </div>
            }
        </div>
</section>
<!--cartao-->
<script>
    function expandirCartao(cardId, setaId) {
    @*recebe os elementos de acrodo com o ID*@
        const cardInfo = document.getElementById(cardId);
        const setaIcon = document.getElementById(setaId);
    @*verifica se o elemento possui a classe expandida*@
        if (cardInfo.classList.contains('expandido')) {
            cardInfo.classList.remove('expandido');
            setaIcon.classList.remove('giraseta');  // Remove rotação
        } else {
            cardInfo.classList.add('expandido');
            setaIcon.classList.add('giraseta');  // Adiciona rotação
        }
    }
</script>