@{
    Layout = "_LayoutCli2";
    ViewData["Title"] = "Carrinho Vazio";
}
<div class="carrinhoVTodo"
    <div class="col-9 base carrinhoV">
        <a href="#" class="Voltar">Voltar a navegação</a>
        <div class="justify-content-between d-flex">
            <p style=" font-family: 'Edutico'; font-size:23px; color:#426ef0">SEU CARRINHO</p>
        </div>
    </div>
     <div class="ticoCarrinho">
            <img src="~/imgs/ticoCarrinhoVazio.png" alt="Tico Carrinho Vazio">
            <p style=" font-family: 'Glacial Bold'; font-size:15px ">Seu carrinho está vazio</p>
            <p style=" font-family: 'Glacial Indifference'; font-size:15px ">Explore a variedade de produtos e adicione produtos ao seu carrinho!</p>
    </div>
</div>

            