@{
    var NF = 0;
}
@{
    Layout = "_layoutCli2";
    ViewData["Title"] = "Cadastrar Produtos";
}

<content class="CancelamentoEfetuado text-center">
    <div class="icon mb-4">
        <img src="~/imgs/confereazul.png" alt="Ícone de Confirmação" class="mb-3" style="height: 80px;">
    </div>
    <div class="msg h4 font-weight-bold mb-3">O cancelamento foi efetuado!</div>
    <div class="submsg text-justify mb-4">Aguarde 7 dias úteis para o reembolso.</div>
    <a asp-controller="Pedido" asp-action="MeusPedidos">
        Voltar
    </a>
</content>