@{
    var NF = (int)ViewData["NF"];
}
@{
    Layout = "_LayoutCli2";
    ViewData["Title"] = "Termos Cancelamento";
}

<section class="container texto-simples">
    <div class="base-termo">
        <h6>Política de Cancelamento de Pedido de Compra de Brinquedos</h6>
        <br />
        <h6>1. Prazo para Cancelamento:</h6>
        <p>Os clientes podem solicitar o cancelamento de um pedido de compra de brinquedos dentro de 24 horas após a confirmação do pedido. Esse prazo é crucial para garantir que o pedido ainda não tenha sido processado e preparado para envio. Após esse período, não garantimos a possibilidade de cancelamento, pois o pedido pode já estar em fase de processamento ou embalagem.</p>
        <br />
        <h6>2. Condições de Cancelamento:</h6>
        <p>Para que um pedido seja cancelado, ele deve estar em estágio de processamento e não ter sido enviado. Caso o pedido já tenha sido despachado, será necessário aguardar a entrega e seguir a política de devolução para solicitar um reembolso. É importante revisar os detalhes do pedido e verificar se todos os itens estão corretos antes da finalização.</p>
        <br />
        <h6>3. Procedimento de Cancelamento:</h6>
        <p>Para solicitar o cancelamento de um pedido, entre em contato com nosso serviço de atendimento ao cliente através do e-mail ou telefone fornecido em nosso site. No contato, informe o número do pedido e o motivo do cancelamento. Nossa equipe verificará o status do pedido e confirmará se o cancelamento pode ser processado. Recomendamos que o contato seja feito o mais rápido possível para facilitar a solicitação.</p>
        <br />
        <h6>4. Reembolso de Pedidos Cancelados:</h6>
        <p>Se o pedido for cancelado dentro do prazo estabelecido e atender às condições de cancelamento, um reembolso total será emitido através da forma de pagamento original utilizada na compra. O reembolso será processado em até 10 dias úteis após a confirmação do cancelamento. Em casos de pagamento por boleto bancário, o prazo para a liberação do reembolso pode ser estendido, dependendo do banco emissor.</p>
        <br />
        <h6>5. Exceções:</h6>
        <p>Pedidos com especificações especiais não são elegíveis para cancelamento após a confirmação do pedido, exceto em casos de defeitos de fabricação ou erros na personalização. Verifique atentamente a descrição dos produtos e as condições específicas de personalização antes de finalizar a compra. Produtos em promoção ou com condições especiais de venda também podem ter políticas específicas de cancelamento.</p>
        <br />
        <h6>6. Alterações de Pedido:</h6>
        <p>Se desejar fazer alterações no pedido, como modificar a quantidade ou trocar um produto, entre em contato com nosso atendimento ao cliente o mais rápido possível. Faremos o possível para acomodar a solicitação, desde que o pedido ainda não tenha sido processado para envio. Caso as alterações sejam possíveis, confirmaremos as mudanças e ajustaremos o pedido conforme solicitado.</p>
        <br />
        <h6>7. Cancelamento de Pedidos em Processamento ou Envio:</h6>
        <p>Se o pedido já estiver em processo de envio, não poderemos cancelar a entrega. Neste caso, orientamos que recuse o recebimento do pedido no momento da entrega. Após a devolução ao nosso centro de distribuição, o pedido será submetido à nossa política de devolução, e o reembolso será processado conforme as condições estabelecidas.</p>
        <br />
        <h6>8. Contato:</h6>
        <p>Para mais informações ou dúvidas sobre nossa política de cancelamento de pedido entre em contato com nossa equipe de atendimento ao cliente. Estamos disponíveis para ajudar e garantir que você tenha a melhor experiência de compra possível. Nossa equipe está pronta para esclarecer todas as suas dúvidas e oferecer suporte em todas as etapas do processo de compra.</p>
        <br />
        <p>Agradecemos por escolher nossa loja e esperamos que você e suas crianças aproveitem os brinquedos com muita alegria e diversão. Se tiver qualquer outra dúvida ou necessidade, não hesite em nos contatar. Estamos aqui para ajudar!</p>
    </div>
    <div class="aceitar">
        <label><input type="checkbox"> Li e concordo com os Termos de Cancelamento</label>

        <a asp-controller="Pedido" asp-action="CancelamentoEfetuado" asp-route-NF="@NF">
            <button class="btnaceitar">Aceitar</button>
        </a>
    </div>

</section>
